<footer class="wrapper-footer">
    <div class="footer">
        <div class="footer__title-text">OFF Festival:</div>
        <div class="footer__bold-text">Kawiarnia Literacka 2019</div>
        <div class="footer__date-text">02 - 04.08.2019 katowice</div>
        <div class="footersoc news__social">
            <div class="footersoc news__social--list">
                <a class="icon icon-fb" href=" https://www.facebook.com/offfestival/"></a>
                <a class="icon icon-fb" href=" https://www.facebook.com/Nextopl/"></a>
                <a class="icon icon-fb" href=" https://www.facebook.com/events/735829043500410/"></a>
                <a class="icon icon-instagram" href="https://www.instagram.com/nextopl/"></a>
                <a class="icon icon-youtube" href="https://www.youtube.com/c/nexto"></a>
            </div>
        </div>
        <div class="footer__logos">
                <img src="assets/images/logo_z_perlage_bez_daty_2.png" width="211px" height="111px">
                <img class="footer__logos--last" src="assets/images/nexto_k.png" width="298px" height="92px">
        </div>
    </div>
</footer><!--footer-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.1/tinymce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
<script src="assets/js/app.js"></script>


</body>
</html>