@font-face{
    font-family: 'Roboto Black';
    src: url("../fonts/Roboto-Black.ttf");
    src: url("../fonts/Roboto-Black.woff");
    src: url("../fonts/Roboto-Black.woff2");
    src: local(Roboto Black), url("../fonts/Roboto-Black.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto Medium';
    src: url("../fonts/Roboto-Medium.ttf");
    src: url("../fonts/Roboto-Medium.woff");
    src: url("../fonts/Roboto-Medium.woff2");
    src: local(Roboto Medium), url("../fonts/Roboto-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto-Regular.ttf");
    src: url("../fonts/Roboto-Regular.woff");
    src: url("../fonts/Roboto-Regular.woff2");
    src: local(Roboto Regular), url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto Light';
    src: url("../fonts/Roboto-Light.ttf");
    src: url("../fonts/Roboto-Light.woff");
    src: url("../fonts/Roboto-Light.woff2");
    src: local(Roboto Light), url("../fonts/Roboto-Light.ttf");

    // src: local 'Roboto Light',
    //     url(../fonts/Roboto-Light.woff) format("woff");
    // src: local 'Roboto Light',
    //     url(../fonts/Roboto-Light.woff2) format("woff2");
    // src: local 'Roboto Light',
    //     url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto Bold';
    src: url(".../fonts/Roboto-Bold.ttf");
    src: url("../fonts/Roboto-Bold.woff");
    src: url("./fonts/Roboto-Bold.woff2");
    src: local(Roboto Bold), url("../fonts/Roboto-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto Black', sans-serif;
    text-rendering: optimizeLegibility;
}