body {
  font-family: "Roboto Black", sans-serif;
}
.collapse:not(.show){
  display: block;
}
//                                                            Header
.navbar {
  display: flex;
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  height: 1081px;
  width: 100%;
  background-position: inherit;
  background-size: cover;

  &__container {
    top: 0;
    position: absolute;
    padding-top: 5%;
    width: 70%;
    margin: 0 15%;

    &--button {
      display: none;
    }

    .dropdown-menu {
      position: relative;
      background-color: transparent;
      border: none;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  height: 103px;
  align-items: center;
  list-style: none;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 9%;
  margin-right: 14%;
  width: 72%;
  margin-top: 3%;

  &__item {
    color: white;
    font-weight: 700;
    height: 100%;
    width: 268px;

    a {
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: center;
      height: 39px;
      margin-top: 28px;
    }
  }

  &__item:hover {
    background-color: #24a985;
  }
}

.btn {
  display: none;
}

.main {
  position: absolute;
  width: 60%;
  height: 90%;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;

  &__logo {
    background-image: url(../images/nexto_k.png);
    background-repeat: no-repeat;
    height: 16%;
    width: 100%;
  }

  &__text {
    height: 308px;
    display: flex;
    width: 100%;
    margin-top: -6%;

    &--text {
      font-size: 7vw;
      color: white;
      height: 308px;
      flex: 1;
      line-height: 1;
      font-weight: 700;
    }

    &--image {
      height: 100%;
      background-image: url(../images/logo_z_perlage_bez_daty_2.png);
      background-repeat: no-repeat;
      background-size: contain;
      flex: 2;
      margin-left: 50px;
    }
  }

  &__date {
    display: flex;
    justify-content: flex-end;
    height: 44px;
    width: 100%;
    margin-top: -3%;
    font-weight: 700;

    &--content {
      height: 100%;
      background-color: black;
      color: white;
      font-size: 33px;
      align-items: center;
      display: flex;
      .date-green {
        color: #24a985;
        text-transform: uppercase;
        margin-left: 10px;
      }
    }
  }

  &__submenu {
    display: flex;
    margin-top: 9%;

    &--first {
      width: 318px;
      height: 95px;
      background-color: white;
      margin-right: 31px;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;

      &:hover {
        background-color: #24a985;
        .first-image svg {
         // transform: skew(10deg,-16deg);
         transform: rotate(-5deg);
        }
      }

      .first-image {
       // background-image: url(../../assets/images/ticket.png);
        background-repeat: no-repeat;
        margin: 0 auto;
        display: flex;
        margin: auto;
        width: 100px;
        height: 94px;
        flex: 1;
        align-items: center;
        justify-content: center;
      }

      .first-text {
        height: 37px;
        margin: 0 auto;
        display: flex;
        margin: auto;
        flex: 2;
        align-items: center; 
        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    &--second {
      width: 389px;
      height: 95px;
      background-color: white;
      margin-right: 31px;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      &:hover {
        background-color: #24a985;
        .second-image {
          //transform: skew(10deg, 10deg);
          transform: rotateY(180deg);
        }
      }

      .second-image {
        background-image: url(../../assets/images/shake.png);
        background-repeat: no-repeat;
        width: 64px;
        height: 64px;
        margin: 0 auto;
        display: flex;
        margin: auto;
      }

      .second-text {
        height: 37px;
        margin: 0 auto;
        display: flex;
        margin: auto;
        padding-right: 10px;
        align-items: center;
          a {
            text-decoration: none;
            color: black;
          }
      }
    }

    &--tree {
      width: 389px;
      height: 95px;
      background-color: #f0552b;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 700;
      display: flex;
      color: white;

      .third-image {
       background-image: url(../../assets/images/svg/book.svg);
        background-repeat: no-repeat;
        width: 69px;
        height: 56px;
        margin: 0 auto;
        display: flex;
        margin: auto;
        padding-right: 10px;
      }

      &:hover {
        .third-image {
          transform: rotateY(196deg);
        }
      }

      .third-text {
        height: 37px;
        margin: 0 auto;
        display: flex;
        margin: auto;
        align-items: center;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
// =========================================== MAIN =========================================
main {
  width: 100%;
  background-color: black;
}


.wrapper-news {
  padding-top: 5%;
  width: 70%;
  margin: 0 15%;
  position: relative;

  .news-buttons {
    right: 0;
    position: fixed;
    top: 40%;
    z-index: 100;

    .news__item {
      width: 101px;
      height: 94px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ticket {
      background-color: white;
    }

    .phone {
      background-color: white;
    }

    .phone:hover {
      background-color: #24a985;
      img {
        //transform: skew(10deg,10deg);
        transform: rotateY(180deg);
      }
    }

    .ticket:hover {
      background-color: #24a985;
      svg {
        transform: rotate(-5deg);
        width: 77px;
      }
    }
  
    .book {
      background-color: #f0552b;
    }

    .book:hover {
      svg {
        transform: rotateY(196deg);
      }
    }
  }
}

.news__description.mobile {
  display: none;
}

.news {
  background-color: black;
  height: 1081px;
  width: 100%;
  position: relative;

  &__text {
    color: #24a985;
    font-size: 130px;
    width: 30%;
    z-index: 300;
    position: inherit;
    font-weight: 700;
    left: -2%;
    line-height: 1;
    .text-margin {
      margin-left: 30px;
    }
  }

  &__social {
    width: 31%;
    border: solid 10px white;
    background-color: black;
    height: 98px;

    &--list {
      height: 100%;
      display: flex;

      .icon {
        display: flex;
        margin: auto;
        background-repeat: no-repeat;
        height: 100%;
      }

      .icon-fb {
        background-image: url(./../images/svg/facebook.svg);
        width: 28px;
        margin-top: 9px;

        &:hover {
          background-image: url(./../images/svg/facebook_hover.svg);
        }
      }

      .icon-fb:first-child:hover {
        background-image: url(./../images/svg/facebook_green.svg);
      }

      .icon-fb:nth-child(2):hover {
        background-image: url(./../images/svg/facebook_orang.svg);
      }

      .icon-instagram {
        background-image: url(./../images/svg/instagram.svg);
        width: 48px;
        height: 48px;

        &:hover {
          background-image: url(./../images/svg/instagram_hover.svg);
        }
      }

      .icon-youtube {
        background-image: url(./../images/svg/youtube.svg);
        height: 48px;
        width: 56px;

        &:hover {
          background-image: url(./../images/svg/youtube_hover.svg);
        }
      }
      
    }

    &--text {
      color: white;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      margin-top: 10px;
    }
  }

  &__program {
    width: 443px;
    height: 108px;
    background-color: #24a985;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    margin-top: 41px;
    justify-content: center;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    position: absolute;
    top: 57%;
    left: 12%;
    a {
      color: black;
    }
    a:hover {
      color: black;
      text-decoration: none;
    }
  }

  &__description {
    width: 952px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    float: left;
    top: 8%;
    left: 31%;
    height: 51.625rem;
    padding: 0 1%;
    .title {
      font-size: 44px;
      margin-left: 13%;
      margin-top: 8%;
      line-height: 1;
    }

    .medium {
      font-family: "Roboto Medium", sans-serif;
      width: 100%;
      margin-left: 40px;
      font-size: 18px;
      line-height: 1.75;
      font-weight: 700;
      padding: 0 32px 0 25px;
    }
  }
}

.wrapper-calendar {
  height: 100%;
  width: 70%;
  margin: 0 15%;
}

.calendar {
  position: relative;

  &__day {
    position: relative;

    &--image {
      width: 346px;
      height: 112px;
      background-image: url(../../assets/images/Mon.png);
      background-repeat: no-repeat;
      position: absolute;
      left: 62%;
    }

    &--mon {
      color: white;
      font-size: 140px;
      font-weight: 700;
      position: absolute;
      left: 70%;
    }

    &--sat {
      font-size: 140px;
      font-weight: 700;
      position: absolute;
      color: #24a985;
      position: absolute;
      margin-top: 37px;
      left: 3%;
    }

    &--sun {
      font-size: 140px;
      font-weight: 700;
      position: absolute;
      color: white;
      left: 55%;
    }

    &--greenim {
      width: 292px;
      height: 134px;
      background-image: url(../../assets/images/sat.png);
      background-repeat: no-repeat;
      position: absolute;
    }

    &--sunimage {
      width: 343px;
      height: 105px;
      background-image: url(../../assets/images/sunimage.png);
      background-repeat: no-repeat;
      position: absolute;
      left: 51%;
    }
  }

  &__programm {
    display: flex;
    padding-top: 15%;

    &--left,
    &--center,
    &--right {
      flex: 1;
      display: flex;
      flex-direction: column;
      .hours {
        color: white;
        border: 10px solid white;
        width: 173px;
        height: 98px;
        font-size: 40px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
      }

      .date {
        width: 173px;
        height: 44px;
        background-color: #24a985;
        color: white;
        font-size: 33px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 500;
        position: absolute;
        right: 0;
      }
      .questions,
      .spikers {
        display: flex;
        flex-direction: column;
        font-family: "Roboto Regular";
        .light {
          font-family: "Roboto Light";
        }
      }
      .spikers {
        margin-top: 5%;
        line-height: 1.5;
      }
      .spikers.last {
        font-family: "Roboto Light";
      }
    }

    .questions {
      font-size: 23px;
      font-family: "Roboto Medium", sans-serif;
      font-weight: 700;
      line-height: 1.5;

      &__white {
        color: white;
      }

      &__orang {
        color: #f0552b;
      }

      &__green {
        color: #24a985;
      }
    }
    .spikers {
      font-size: 18px;
      color: white;
      font-family: "Roboto Regular", sans-serif;
    }
  }

  .wrapper-second {
    display: flex;
  }

  .calendar__programm.second {
    flex-direction: column;
    padding-top: 20%;
  }

  .calendar__programm--left.last {
    padding-top: 4%;
  }

  .date.orange {
    background-color: #f0552b;
  }

  .date.white {
    background-color: white;
    color: black;
  }

  .spikers.sat {
    margin-top: 2%;
  }
}

.wrapper-app {
  height: 105.5rem;
  width: 70%;
  margin: 0 15%;
}

.app {
  position: relative;

  &__left {
    width: 40%;
    padding-top: 11%;

    &--title {
      font-size: 140px;
      font-weight: 500;
      width: 40%;
      line-height: 1;

      .subtitle-container {
        display: flex;
        margin-left: 84px;
      }

      .white {
        color: white;
      }

      .orange {
        color: #f0552b;
        margin-left: 39px;
      }
    }

    &--text {
      font-size: 18px;
      color: white;
      font-family: "Roboto Medium", sans-serif;
      line-height: 1.5;
      padding: 25px 0;
      width: 75%;
    }

    &--subtitle {
      font-size: 37px;
      color: #ffffff;
      padding: 15px 0;
      width: 56%;
    }

    &--icons {
      width: 40%;

      .google-icon {

        .link-first {
          position: absolute;
          width: 30%;
          height: 10%;
        }

        .link-second {
          position: absolute;
          width: 30%;
          height: 10%;
          top: 90%;
        }
      }
    }
  }

  &__right {
    width: 40%;

    &--artikel {
      width: 532px;
      height: 1054px;
      background-color: white;
      color: black;
      top: 0%;
      position: absolute;
      right: 0%;

      .header-container {
        font-size: 41px;
        font-weight: 700;
        height: 100px;
        width: 583px;
        display: flex;
        align-items: center;
        color: #000;
        transform: rotate(-90deg);
        background-color: white;
        position: absolute;
        top: 23%;
        right: -28%;
      }

      .text-container {
        position: absolute;
        top: 59%;
        left: 36%;
        font-size: 18px;
        font-family: "Roboto Medium", sans-serif;
        line-height: 1.5;
        font-weight: 500;
        padding: 0 9px;
      }
    }

    &--bibl-img {
      position: absolute;
      top: 0%;
      right: 16%;

      img {
        width: 314px;
        height: 559px;
      }
    }

    &--play-img {
      top: 42%;
      position: absolute;
      right: 39%;

      img {
        width: 21.625rem;
        height: 49.9375rem;
      }
    }

    &--phone-img {
      position: absolute;
      top: 29%;
      left: 44%;
      z-index: 10;
    }

    &--button {
      position: absolute;
      top: 125%;
      right: 20%;

      .third-text.appsection {
        font-size: 21px;
      }

      .third-image.appsection {
        background-size: contain;
        width: 52px;
        height: 42px;
      }

      .main__submenu--tree.appsection {
        width: 294px;
        height: 72px;
        padding: 0 7px;
      }
    }
  }

  &__gifts {
    width: 100%;
    position: absolute;
    top: 138%;
    font-weight: 700;

    &--title {
      color: white;
      font-size: 69px;
      margin-left: -8%;

      .green {
        color: #24a985;
        margin-left: 18px;
      }
    }

    &--fotos {
      display: flex;
      justify-content: space-around;
      width: 86%;
      margin-top: 40px;

      .description {
        font-size: 37px;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .audio {
        margin-top: 4%;
      }

      .audio img {
        width: 228px;
        height: 206px;
        margin-bottom: 25px;
      }

      .e-book img {
        width: 197px;
        height: 253px;
        margin-bottom: 25px;
      }

      .mag img {
        width: 178px;
        height: 253px;
        margin-bottom: 25px;
      }
    }
  }

  .additionally {
    display: none;
  }

  .mobile-content {
    display: none;
  }
}
/*======================================================Video and Foto=========================================*/
.wrapper-video {
  height: 74.5rem;
  width: 70%;
  margin: 0 15%;

  .video {

    &__title {
      display: flex;
      justify-content: space-between;
      width: 97%;
      align-items: center;

      &--left {
        font-size: 140px;
        font-family: 'Roboto Black', sans-serif;
        color: white;
      }

      &--right {
       font-size: 33px;
       font-family: 'Roboto Black', sans-serif;
       color: white;
       text-transform: uppercase;
       background-color: #24a985;
       height: 50px;
      padding: 0 1px;
      }
    }

    .row {
      margin-top: 5%;
    }

    &__list {

      &--name {
        text-transform: uppercase;
        color: #f0552b;
        font-size: 33px;
        margin-left: 5%;
        margin-bottom: 10%;
      }

      &--name.green {
        text-transform: uppercase;
        color: #24a985;
        font-size: 33px;
        margin-left: 5%;
        margin-bottom: 10%;
      }

      &--exposition {
        color: white;
        border: 6px solid white;
        width: 90%;
        font-size: 31px;
        padding: 15px 9px;
        margin-top: 25px;
        margin-left: 5%;
      }

      &--foto {
        display: flex;
        justify-content: center;
        position: relative;

        &:hover {
          .after {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #000;
            background-color: rgb(36, 169, 133);
            opacity: .75;
            height: 100%;
            left: 5%;
            width: calc(90% - 1px);
            font-size: 28px;
            text-transform: uppercase;
            line-height: 1;
            font-weight: 700;
          }

          img:after {
            content: "asdasd";
            font-size: 28px;
            color: red;
            font-weight: 700;
            width: 60%;
          }
        }

        img {
          width: 90%;
          height: 90%;
        }

        .after {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          z-index: 5;
          display: none;
          height: 100%;
        }
      }
    }
  }
 
}

.wrapper-foto {
  height: 74.5rem;
  width: 70%;
  margin: 0 15%; 

    .foto {
      position: relative;

      &__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        &--right {
          font-size: 140px;
          font-family: 'Roboto Black', sans-serif;
          color: white;
          font-weight: 500;
        }

        &--left {
          font-size: 33px;
          font-family: 'Roboto Black', sans-serif;
          color: white;
          text-transform: uppercase;
          background-color: #f0552b;
          height: 50px;
          padding: 0 1px;
          font-weight: 400;
        }
      }

      &__container {
        position: relative;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        width: 80%;

        &--first,
        &--second {
          height: 100%;
        }

        .picture {
          position: absolute;
          filter: grayscale(100%);
          transition: all .4s;

          &:hover {
            filter: grayscale(0%);
          }
        }

        .foto1 {
          background-image: url(../../assets/images/p01@2x.png);
          background-repeat: no-repeat;
          width: 50%;
          height: 36%;
          background-size: contain;
        }

        .foto2 {
          background-image: url(../../assets/images/p01@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 43%;
          height: 31%;
          left: 47%;
          top: 26%;
          z-index: 10;
        }

        .foto3 {
          background-image: url(../../assets/images/p01@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
          height: 34%;
          width: 20%;
          z-index: 20;
          top: 13%;
          left: 60%;
        }

        .foto4 {
          background-image: url(../../assets/images/p01@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 21%;
          height: 30%;
          left: 33%;
          top: 29%;
          z-index: 20;
        }

        .foto5 {
          background-image: url(../../assets/images/p03@2x.png);
          background-repeat: no-repeat;
          width: 50%;
          background-size: contain;
          left: 88%;
          height: 39%;
        }

        .foto6 {
          background-image: url(../../assets/images/p01@2x.png);
          background-repeat: no-repeat;
          width: 35%;
          height: 25%;
          background-size: contain;
          right: -9%;
          top: 2%;
        }

        .foto7 {
          background-image: url(../../assets/images/p03@2x.png);
          background-repeat: no-repeat;
          right: 13%;
          top: 4%;
          width: 58%;
          height: 29%;
          background-size: contain;
        }

        .foto8 {
          background-image: url(../../assets/images/p03@2x.png);
          background-repeat: no-repeat;
          width: 33%;
          background-size: contain;
          height: 67%;
          top: 22%;
          left: 83%;
        }
      }

      &__name {
        color: #fff;
        font-size: 108px;
        position: absolute;
        top: 41%;
        left: 2%;
        width: 20%;
        line-height: 1;
        z-index: 50;
        font-weight: bold;
      }
  }
}
.show-foto,
.show-video {
  display: none;
}
/*                                                        Footer        */
.wrapper-footer {
  height: 514px;
  background-color: #131313;
}
.footer {
  position: relative;
  margin: 0 23%;
  padding-top: 5%;

  &__date-text {
    background-color: #24a985;
    color: black;
    width: 43%;
    font-size: 33px;
    height: 44px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    position: absolute;
    left: 14%;
  }

  &__title-text {
    font-size: 49px;
    color: white;
    font-family: "Roboto Regular", sans-serif;
  }

  &__bold-text {
    font-size: 49px;
    font-weight: bold;
    color: white;
  }

  .footersoc.news__social {
    position: absolute;
    left: 61%;
    top: 40%;
    width: 33%;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding-left: 22%;
    margin-top: 11%;

    &--last {
      margin-top: 40px;
    }
  }
}

@media  only screen and (max-width: 1917px) {
  .wrapper-video {
    .video__list--exposition {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 1816px) {
  .main {

    &__submenu {

      &--second {

        .second-text {
          padding-right: 8px;
        }
      }
    }
  }

  .app__left--subtitle {
    width: 59%;
  }

  .app__right--button {
    top: 121%;
  }

  .wrapper-video {

    .video__list {

      &--exposition  {
        font-size: 28px;
      }
    }
  }


}
@media only screen and (max-width: 1681px) {
  
  .news {
    
    &__program {
      left: 10%;
      top: 51%;
    }
    
    &__description {
      width: 72%;
      height: 46.625rem;
    }
    
    &__text {
      font-size: 120px;
    }

    .title {
      font-size: 37px;
    }

    .medium {
      font-size: 16px;
    }
  }

  .main {

    &__submenu {

      &--first {
        font-size: 1.375rem;

        .first-text {
          margin-left: 20px;
        }
      }

      &--second,
      &--tree {
        font-size: 1.375rem;
      }
    }
  } 

  .calendar {

    &__day {
      &--mon,
      &--sat,
      &--sun {
        font-size: 120px;
      }

      &--sat {
        margin-top: 1.3125rem;
      }
    }
  }
  .app__left {
    &--title {
      font-size: 128px;
      .subtitle-container img{
        height: 82px;
      }
    }

    &--text {
      width: 85%;
      font-size: 16px;
    }
    &--subtitle {
      width: 64%;
    }
  }

  .app__right {

    .header-container {
      font-size: 40px;
      left: 25%;
    }

    &--bibl-img {
      right: 18%;
    }

    &--phone-img {
      top: 32%;
      left: 46%;
    }

    &--play-img {
      right: 37%;

      img {
        height: 47.9375rem;
      }
    }

    .text-container {
      font-size: 15px;
      left: 54%;
    }

    &--button {
      top: 139%;
      right: 24%;
    }
  }

  .app__gifts {
    top: 153%;

    &--title {
      font-size: 53px;
    }
  }

  .wrapper-video {

    .video__list--exposition {
      font-size: 25px;
    }
  } 

  .wrapper-foto {

    .foto {

      &__title {

        &--right {
          font-size: 120px;
        }
      }
    }
  }

  .footer {

    &__title-text,
    &__bold-text {
      font-size: 45px;
    } 

    &__date-text {
      font-size: 30px;
      left: 16%;
    }

    .footersoc.news__social {
      left: 63%;
    }

    &__logos {
      width: 88%;
      padding-left: 24%;
      margin-top: 11%;
    }
  }
}

@media  only screen and (max-width: 1601px) and (max-height: 1201px) {
  .menu {
    width: 130%;

    &__item {
      font-size: 24px;
      width: 100%;
    }
  }

  .main__text {
    margin-top: -4%;
    &--image {
    //  background-image: url(../images/logo_small.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--text {
      font-size: 7vw;
    }
  }

  .main__submenu {
    .first-text,
    .second-text,
    .third-text {
      font-size: 22px;
    }

    .first-image {
      width: 100px;
      height: 6.125rem;
      padding-right: 0.125rem;
      margin: 0;
    }
  }

  .date-green {
    margin-left: 10px;
  }

  .news {

    &__text {
      font-size: 113px;
    }

    &__program {
      left: 8%;
    }

    &__description {
      padding:0;
    }

    .title {
      font-size: 30px;
    }

    .medium {
      font-size: 15px;
      padding: 0 24px;
    }
  }

  .calendar {

    .questions {
      font-size: 20px;
    }

    .spikers {
      font-size: 15px;
    }

    .calendar__day {

      &--image {
        left: 51%;
      }

      &--mon {
        left: 66%;
        font-size: 112px;
      }

      &--sun {
        left: 50%;
        font-size: 112px;
      }

      &--sat {
        font-size: 112px;
        left: 10%;
      }

      &--sunimage {
        left: 39%;
      }
    }

    .calendar__programm {
      padding-top: 25%;

      &--right {

        .date {
          right: 3%;
          top: 30%;
          font-size: 30px;
        }

        .date.orange {
          top: 19%;
        }

        .date.white {
          top: 20%;
        }

      }

      .hours {
        font-size: 30px;
        width: 160px;
        height: 90px;
      }
    }

    .calendar__programm.second {
      padding-top: 24%;
    }
  }

  .app__right {

    &--artikel {

      .text-container {
        font-size: 17px;
        left: 46%;
      }

      .header-container {
        font-size: 38px;
      }
    }

    &--bibl-img {
      right: 19%;
    }

    &--phone-img {
      left: 36%;
    }

    &--play-img {
      right: 45%;
      top: 61%;

      img {
        height: 36.9375rem;
        width: 18.625rem;
      }
    }

    &--button {
      top: 146%;
      right: 27%;
    }
  }

  .app__left {

    &--title {
      font-size: 98px;

      .subtitle-container {

        img {
          min-width: 354px;
        }
      }
    }

    &--subtitle {
      font-size: 30px;
    }
  }

  .app__gifts {
    top: 160%;
  }

  .wrapper-video {

    .video__list--exposition {
      font-size: 22px;
    }
  }

  .wrapper-foto {

    .foto {

      &__title {

        &--right {
          font-size: 104px;
        }
      }
    }
  }

  .footer {

    &__title--text {
      font-size: 40px;
    }

    &__bold-text {
      font-size: 40px;
    }

    &__date-text {
      font-size: 27px;
      left: 14%;
    }

    .footersoc.news__social {
      left: 63%;
      top: 38%;
    }

    &__logos {
      width: 84%;
      padding-left: 21%;

      &--last {
        margin-right: -13%;
      }
    }
  } 
}

@media  only screen and (max-width: 1537px) and (max-height: 865px) {
  .menu {
    width: 130%;

    &__item {
      font-size: 24px;
      width: 100%;
    }
  }

  .main__text {
    margin-top: -4%;
    &--image {
    //  background-image: url(../images/logo_small.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--text {
      font-size: 7vw;
    }
  }

  .main__submenu {
    .first-text,
    .second-text,
    .third-text {
      font-size: 22px;
    }

    .first-image {
      width: 100px;
      height: 6.125rem;
      padding-right: 0.125rem;
      margin: 0;
    }
  }

  .date-green {
    margin-left: 10px;
  }

  .news {

    &__text {
      font-size: 113px;
    }

    &__program {
      left: 8%;
    }

    &__description {
      padding:0;
    }

    .title {
      font-size: 30px;
    }

    .medium {
      font-size: 15px;
      padding: 0 24px;
    }
  }

  .calendar {

    .questions {
      font-size: 20px;
    }

    .spikers {
      font-size: 15px;
    }

    .calendar__day {

      &--image {
        left: 51%;
      }

      &--mon {
        left: 66%;
        font-size: 112px;
      }

      &--sun {
        left: 50%;
        font-size: 112px;
      }

      &--sat {
        font-size: 112px;
        left: 10%;
      }

      &--sunimage {
        left: 39%;
      }
    }

    .calendar__programm {
      padding-top: 25%;

      &--right {

        .date {
          right: 3%;
          top: 30%;
          font-size: 30px;
        }

        .date.orange {
          top: 19%;
        }

        .date.white {
          top: 20%;
        }

      }

      .hours {
        font-size: 30px;
        width: 160px;
        height: 90px;
      }
    }

    .calendar__programm.second {
      padding-top: 24%;
    }
  }

  .app__right {

    &--artikel {

      .text-container {
        font-size: 17px;
        left: 46%;
      }

      .header-container {
        font-size: 38px;
      }
    }

    &--bibl-img {
      right: 19%;
    }

    &--phone-img {
      left: 36%;
    }

    &--play-img {
      right: 45%;
      top: 61%;

      img {
        height: 36.9375rem;
        width: 18.625rem;
      }
    }

    &--button {
      top: 146%;
      right: 27%;
    }
  }

  .app__left {

    &--title {
      font-size: 98px;

      .subtitle-container {

        img {
          min-width: 354px;
        }
      }
    }

    &--subtitle {
      font-size: 30px;
    }
  }

  .app__gifts {
    top: 160%;
  }

  .wrapper-video {

    .video__list--exposition {
      font-size: 22px;
    }
  }

  .wrapper-foto {

    .foto {

      &__title {

        &--right {
          font-size: 104px;
        }
      }
    }
  }

  .footer {

    &__title--text {
      font-size: 40px;
    }

    &__bold-text {
      font-size: 40px;
    }

    &__date-text {
      font-size: 27px;
      left: 14%;
    }

    .footersoc.news__social {
      left: 63%;
      top: 38%;
    }

    &__logos {
      width: 84%;
      padding-left: 21%;

      &--last {
        margin-right: -13%;
      }
    }
  } 
}

@media only screen and (max-width: 1525px) {
  .main {

    &__submenu {

      &--second {

        .second-text {
          padding-right: 9px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1441px) and (max-height: 900px) {
  .navbar__container {
    width: 40%;
  }

  .menu {
    margin-right: 25%;
    width: 130%;
    &__item {
      width: 100%;
      font-size: 24px;
    }
  }

  .dropdown-menu {
    width: 10%;
  }

  .main__submenu {
    .first-text,
    .second-text,
    .third-text {
      font-size: 20px;
    }

    .first-image {
      padding-right: 0px;
    }
  }

  .main__text {
    margin-top: -4%;
    &--image {
  //    background-image: url(../images/logo_small.png);
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 3%;
    }

    &--text {
      font-size: 7vw;
    }
  }
  .main__date {
    margin-top: -10%;
  }

  .main__submenu {
    margin-top: 15%;
  }

  .news {

    &__text {
      font-size: 100px;
      top: 1%;
    }

    &__program {
      left: 6%;
    }

    &__social {
      margin-top: 3%;
    }

    .title {
      font-size: 32px;
    }

    .medium {
      font-size: 15px;
      padding: 0 25px;
      line-height: 1.5;
    }
  }

  .calendar {

    .questions {
      font-size: 20px;
    }

    .spikers {
      font-size: 13px;
    }

    .calendar__day {

      &--image {
        left: 51%;
        margin-top: -10%;
      }

      &--mon {
        left: 70%;
        margin-top: -9%;
        font-size: 90px;
      }

      &--sun {
        left: 55%;
        font-size: 90px;
      }

      &--greenim {
        margin-top: -38px;
      }

      &--sat {
        margin-top: -14px;
        left: 14%;
        font-size: 90px;
      }

      &--sunimage {
        left: 39%;
      }
    }

    .calendar__programm {
    
      &--right {

        .date {
          right: 0%;
          margin-top: -10%;
        }

        .date.white {
          margin-top: -1%;
        }
      }
    }

    .calendar__programm.second {
      padding-top: 25%;
    }
  }

  .app {
    top: 2%;

    &__right {

      &--artikel {

        .text-container {
          font-size: 14px;
          left: 60%;
        }

        .header-container {
          right: -31%;
        }
      }

      &--play-img {
        right: 40%;
        top: 44%;
      }

      &--bibl-img {
        right: 21%;
      }

      &--phone-img {
        top: 39%;
        left: 41%;
      }

      &--button {
        top: 167%;
        right: 27%;
      }
    }

    &__left {

      &--title {
        font-size: 6.9375rem;
        margin-top: -29%;

        .subtitle-container img {
          width: 394px;
        }
      }

      &--subtitle {
        font-size: 29px;
      }
    }

    &__gifts {
      top: 180%;
    }
  }

  .wrapper-video {

    .video__list--exposition {
      font-size: 21px;
    }
  }

  .wrapper-foto {

    .foto {

      &__title {

        &--right {
          font-size: 100px;
        }
      }
    }
  }

  .footer {
    margin: 0 15%;

    &__bold-text {
      font-size: 36px;
      margin-top: 5px;
    }

    &__date-text {
      font-size: 26px;
      left: 10%;
      width: 335px;
    }

    &__title--text {
      font-size: 36px;
    }

    .footersoc.news__social {
      left: 55%;
      top: 30%;
    }

    &__logos {
      padding-left: 18%;

      &--last {
        margin-right: 14%;
      }
    }
  }
}

@media only screen and (max-width: 1427px) {
  .main {

    &__submenu {

      &--second {

        .second-text {
          padding-right: 3px;
        }
      } 
    }
  }
}

@media only screen and (max-width: 1394px) {
  .main {

    &__submenu {

      &--second {

        .second-text {
          padding-right: 2px;
        }
      } 

      &--first {
        .first-image {
          height: 6.125rem;
        }
      }  
      
    }
  }

  .wrapper-foto {

    .foto {

      &__title {

        &--left {
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1369px) and (max-height: 900px) {

  .dropdown-menu {
    width: 10%;
  }

  .menu {
    margin-right: 25%;

    &__item {
      width: 100%;
      font-size: 24px;
    }
  }

  .main {

    &__text {
      margin-top: 1%;

      &--image {
   //     background-image: url(../images/logo_small.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 3%;
      }

      &--text {
        font-size: 7vw;
      }
    }

    &__submenu {
      .third-text,
      .second-text,
      .first-text {
        font-size: 19px;
      }

      &--second {
        width: 400px;
      }

      &--first {

        .first-image {
          margin-left: 15px;
        }
      }
    }

    &__date {

      .date-green {
        margin-left: 10px;
      }
    }
  }

  .news {

    .news {

      &__text {
        font-size: 95px;
        top: 2%;
        left: -4%;
      }

      &__program {
        left: 5%;
        top: 50%;
      }

      &__social {
        margin-top: 4%;
      }

      .title {
        font-size: 29px;
      }

      .medium {
        font-size: 14px;
        padding: 0 25px;
        line-height: 1.5;
      }

      &__description {
        height: 46.625rem;
      }
    }
  }

  .wrapper-calendar {

    .calendar {
      position: relative;

      .calendar__day {
        padding-bottom: 25px;

        &--mon {
          font-size: 88px;
          bottom: -19%;
          left: 79%;
        }

        &--sat {
          font-size: 88px;
          left: 11%;
          top: 26%;
        }

        .calendar__day--sun {
          font-size: 88px;
          left: 57%;
        }

        &--image {
          width: 300px;
          height: 100px;
          left: 62%;
          margin-top: 0%;
        }

        &--greenim {
          width: 240px;
          height: 100px;
        }

        &--sunimage {
          width: 15.625rem;
          height: 6.25rem;
          left: 49%;
        }

      }
      
      .calendar__programm {
        padding-top: 10%;
        
        &--right {

          .hours {
            font-size: 28px;
            width: 140px;
            height: 83px;
          }

          .date {
            font-size: 19px;
            width: 150px;
            height: 30px;
            right: -19px;
            margin-top: -1%;
            margin-right: -1%;
          }

          .date.white {
            margin-top: 1%;
            right: 2%;
          }
          
        }
      }

      &__programm.second {
        padding-top: 9%;
      }
    }
  }

  .wrapper-app {

    .app {

      &__right {

        &--artikel {
          right: -6%;

          .text-container {
            top: 56%;
            font-size: 15.5px;
            left: 53%;
          }

          .header-container {
            right: -31%;
          }
        }

        &--play-img {
          right: 36%;
        }

        &--button {
          top: 168%;
          right: 25%;
        }

        &--bibl-img {
          right: 16%;
        }

        &--play-img {
          right: 38%;
        }

        &--phone-img {
          top: 35%;
        }

        .app__right--button {
          top: 204%;
        }
      }

      &__left {

        &--title {
          font-size: 98px;
        }

        &--icons {

          .google-icon {
            margin-left: -15px;
          }
        }
      }

      .app__gifts {
        top: 236%;
      }
    }
  }

  .wrapper-video {

    .video__list--exposition {
      font-size: 19px;
    }
  }

  .wrapper-foto {

    .foto {

      &__title {

        &--right {
          font-size: 96px;
        }

        &--left {
          font-size: 29px;
        }
      }
    }
  }

  .footer {
    margin: 0 23%;

    &__bold-text {
      font-size: 30px;
      margin-top: 5px;
    }

    &__title-text {
      font-size: 30px;
    }

    .footer__date-text {
      font-size: 24px;
      left: 14%;
      width: 305px;
    }

    .footersoc.news__social {
      top: 19%;
    }

    &__logos {
      padding-left: 12%;
      width: 72%;
      margin-top: 17%;

      &--last {
        margin-right: -24%;
      }

    }
  }
}

@media only screen and (max-width: 1367px) and (max-height: 1025px) {
  .navbar {

    &__container {
      margin: 0 10%;
    }
  }

  .menu {
    margin-right: 19%;

    &__item {
    font-size: 26px;
    width: 13.5rem;

      a {
        padding: 0 10px;
      }
    }
  }

  .main {

    &__text {
      margin-top: 1%;

      &--image {
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 2%;
      }

      &--text {
        font-size: 7vw;
      }

    }

    .third-text,
    .second-text,
    .first-text {
      font-size: 17px;
    }

    .first-text {
      margin-left: -15px;
    }

    .third-text {
      margin-right: 5px;
    }

    .first-image {
      flex: 2;
    }

    &__submenu {
      &--first {

        .first-image {
          margin-left: 0;
        }
      }
    }
  }

  .news {

    &__text {
      font-size: 88px;
      top: 4%;
    }

    &__description {
      height: 56.625rem;
    }

    &__program {
      left: 4%;
      top: 64%;
    }

    &__social {
      margin-top: 7%;

      &--text {
        font-size: 27px;
        margin-top: 15px;
      }

    }

    .title {
      font-size: 36px;
    }
  }

  .wrapper-calendar {

    .calendar {

      &__day {

        &--mon {
          width: 30%;
          font-size: 80px;
          bottom: -43%;
          left: 84%;
          position:absolute;
        }
  
        &--sun {
          width: 30%;
          font-size: 80px;
          position:absolute;
          left: 74%;
          top: 29%;
        }
  
        &--sat {
          font-size: 80px;
          margin-top: 0%;
          position:absolute;
          left: 17%;
          top: 48%;
        }
  
        &--greenim {
          margin-top: -3%;
          position: relative;
        }

        &--sunimage {
          margin-top: -3%;
          left: 55%;
          position: relative;
        }

        &--image {
          position: relative;
        }
      }

      &__programm--right {

       .date {
          margin-right: -7%;
        }
  
      }
  
      &__programm--left {

        .spikers {
          font-size: 14px;
        }
      }
    }
  }

  .app__right {

    &--play-img {
      right: 42%;
    }

    &--bibl-img {
      right: 14%;
    }

    &--play-img {
      right: 36%;
      top: 53%;
    }

    &--phone-img {
      top: 40%;
      left: 40%;
    }

    &--button {
      top: 169%;
    }

    .header-container {
      font-size: 38px;
      line-height: 1;
    }

    &--button {
      top: 169%;
      right: 22%;
    }

    &--artikel {
      right: -9%;
      .text-container {
        top: 57%;
        font-size: 15.5px;
        left: 52%;
      }
    }
  }

  .app__left {

    &--title {
      font-size: 88px;

      .subtitle-container img {
        width: 312px;
      }
    }

    &--subtitle {
      font-size: 22px;
    }

    &--text {
      width: 100%;
    }

    &--icons {

      .google-icon img {
        width: 180px;
      }
    }
  }

  .app__gifts {
    top: 185%;
  }

  .wrapper-video {

    .video__list--exposition {
      font-size: 20px;
    }
  }

  .wrapper-foto {

    .foto {

      &__title {

        &--right {
          font-size: 96px;
        }
      }
    }
  }

  .wrapper-footer {
    height: 31.125rem;
  }

  .footer {
    margin: 0px 17%;

    &__bold-text {
      font-size: 38px;
    }

    &__title-text {
      font-size: 41px;
    }

    &__date-text {
      font-size: 28px;
      left: 5%;
    }

    .footersoc.news__social {
      top: 16%;
      left: 56%;
    }

    &__logos {
      padding-left: 12%;
      width: 67%;

      &--last {
        margin-right: -29%;
      }

    }
  }

}

@media only screen and (max-width: 1281px) and (max-height: 1025px) {
  .navbar {
    &__container {
      margin: 0 10%;
    }
  }

  .menu {
    margin-right: 19%;

    &__item {
      font-size: 26px;
      width: 13.5rem;

      a {
        padding: 0 10px;
      }
    }
  }

  .main {
    &__text {
      margin-top: 1%;

      &--image {
    //    background-image: url(../images/logo_small.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 2%;
      }

      &--text {
        font-size: 7vw;
      }

    }

    .third-text,
    .second-text,
    .first-text {
      font-size: 17px;
    }

    .first-text {
      margin-left: -15px;
    }

    .third-text {
      margin-right: 5px;
    }

    .first-image {
      flex: 2;
    }

    &__submenu {
      &--first {

        .first-image {
          margin-left: 0;
        }
      }
    }
  }

  .news {
    &__text {
      font-size: 75px;
      top: 4%;
    }

    &__program {
      left: 4%;
      top: 65%;
    }

    &__social {
      margin-top: 7%;

      &--text {
        font-size: 27px;
        margin-top: 15px;
      }
    }

    .title {
      font-size: 19px;
    }
  }

.wrapper-calendar {
  .calendar {

    &__day {

      &--mon {
        width: 30%;
        font-size: 80px;
        bottom: -48%;
      }

      &--sun {
        width: 30%;
        font-size: 80px;
        left: 75%;
      }

      &--sat {
        font-size: 80px;
        margin-top: 0%;
      }

      &--greenim {
        margin-top: -3%;
      }
      &--sunimage {
        margin-top: -3%;
        left: 55%;
      }
    }
    &__programm--right {

     .date {
      top: 24%;
      margin-right: -10%;
      }

      .date.white {
        top: 17%;
        margin-right: -12%;
      }

    }

    &__programm--left {

      .spikers {
        font-size: 14px;
      }
    }
  }
}

  .google-icon img{
    width: 200px;
  }

  .app__right {

    &--play-img {
      right: 42%;
      img {
        height: 45.9375rem;
      }
    }

    &--bibl-img {
      right: 17%;
    }

    &--play-img {
      right: 36%;
      top: 53%;
    }

    &--phone-img {
      top: 40%;
      left: 40%;
    }

    &--button {
      top: 169%;
    }

    .text-container {
      top: 57%;
      font-size: 14px;
      left: 59%;
    }

    .header-container {
      font-size: 42px;
      line-height: 1;
    }

    &--button {
      top: 169%;
      right: 22%;
    }
  }
  .app__left {

    &--title {
      font-size: 88px;
      .subtitle-container img {
        width: 312px;
      }
    }

    &--subtitle {
      font-size: 22px;
    }

    &--text {
      width: 100%;
    }

    &--icons {
      .google-icon img {
        width: 180px;
      }
    }
  }
  .app__gifts {
    top: 185%;
  }

  .wrapper-video .video__list--exposition {
    font-size: 18px;
  }

  .wrapper-foto {
    .foto__title--right {
      font-size: 85px;
    }
  }

  .footer {
    margin: 0px 17%;

    &__bold-text {
      font-size: 38px;
    }

    &__title-text {
      font-size: 41px;
    }

    &__date-text {
      font-size: 23px;
      left: 8%;
    }

    .footersoc.news__social {
      top: 16%;
      left: 56%;
    }
    &__logos {
      padding-left: 23%;

      &--last {
        margin-right: -43%;
      }

    }
  }
}

@media only screen and (max-width: 1200px) {
  .main {

    &__submenu {

      &--second {
        font-size: 15px;

        .second-text {
          padding-right: 9px;
          font-size: 15px;
        }
      }

      &--first {

        .first-text {
          font-size: 15px;
        }
      }

      &--tree {

        .third-text {
          font-size: 15px;
        }
      }
    }
  }

  .menu {

    &__item {
      width: 12.5rem;
    }
  }
}

@media only screen and (max-width: 1025px) and (max-height: 1367px) {
  .menu {
    width: 124%;

      &__item {
      font-size: 24px;
      width: 81%;
      }
  }

  .main__text--text {
    font-size: 7vw;
  }

  .main__text--image {
    background-size: contain;
  }
 
  .main__submenu {
    margin-top: 23%;
    &--first,
    &--second,
    &--tree {
      height: 85px;
    }

    &--first {

      .first-image {
        height: 90px;
        padding-right: 25%;
        padding-left: 7%;
      }

      .first-text {
        margin-left: -0.3125rem;
      }
    }

    .first-image {
      padding-right: 35px;
    }

    .second-image {
      padding-right: 70px;
    }

    .second-text,
    .third-text {
      margin-left: 10px;
    }

    .main__submenu--tree > .third-image {
      padding-right: 75px;
    }
  }

  .news {

    &__program {
      left: -3%;

      &--right {

        .date {
          margin-right: -8%;
        }
      }
    }

    &__description {

      .title {
        font-size: 26px;
      }

      .medium {
        font-size: 12px;
      }
    }

    &__text {
      font-size: 69px;
    }

    &__social {

      &--text {
        font-size: 29px;
      }
    }
  }

  .calendar {

    &__day {

      &--sunimage {
        left: 32%;
        top: -74%;
      }

      &--image {
        left: 43%;
        top: -93%;
      }

      &--mon,
      &--sat,
      &--sun {
        font-size: 100px;
      }

      &--sat {
        margin-top: 6%;
        margin-left: 14%;
      }

      &--sun {
        margin-top: 0.4375rem;
        left: 52%;
      }

      &--mon {
        margin-top: 3%;
        left: 67%;
      }
    }

    .hours{
      height: 80px;
      width: 150px;
    }

    .questions{
      font-size: 18px;
    }

    .spikers{
      font-size: 13px;
    }

    .calendar__programm.second {
      padding-top: 31%;
    }

    .calendar__programm {
      padding-top: 40%;
    }
  
    .date{
      font-size: 27px;
      width: 155px;
      margin-right: -6%;
      top: 28%;
    }

    .date.white{
      top: 19%;
      margin-right: -7%;
    }

    .date.orange {
      top: 20%;
    }
  } 
  
  .app {

    &__right {

      &--artikel {
        right: -8%;
        height: 59.5rem;
        width: 436px;

        .header-container{
          font-size: 35px;
          top: 20%;
          width: 30.25rem;
          margin-left: 0.9375rem;
        }

        .text-container{
          font-size: 12px;
          left: 57%;
        }

      }

      &--button {
        top: 212%;
        right: 20%;
      }

      &--phone-img {
        top: 51%;
        left: 40%;
        img {
        width: 330px;
        }
      }

      &--play-img {
        top: 59%;
        right: 36%;

          img {
          width: 284px;
          height: 38.9375rem;
          }
      }

      &--bibl-img {
        right: 13%;

        img {
        width: 284px;
        }
      }
    }
    
    &__left {

      &--subtitle {
      font-size: 16px;
      }

      &--title {
        font-size: 50px;

        .subtitle-container {
          margin-left: 2.25rem;

          img {
            width: 14.5rem;
            height: 50px;
          }
        } 
      }

      &--text {
        font-size: 10px;
      }

      .google-icon img {
        width: 7.5rem;
      }
    }

    &__gifts {
      top: 269%;

      &--title {
        font-size: 2.5rem;
      }

      &--fotos {
        width: 100%;

        .audio {
          margin-top: 7%;
        }
      }
    }
  }

  .wrapper-video {
    height: 56.5rem;

    .video {

      &__title--left {
        font-size: 103px;
      }

      &__list {

        &--exposition {
          font-size: 14px;
        }
      }
    } 
  }

  .wrapper-foto {

    .foto__title {

      &--right {
        font-size: 67px;
      }

      &--left {
        font-size: 26px;
      }
    }

    .foto__container {
      height: 76.75rem;
    }

    .foto__name {
      font-size: 84px;
      top: 31%;
    }
  } 

  .footer {
    margin: 0 21%;

    &__title-text {
      font-size: 24px;
    }

    &__bold-text {
      font-size: 24px;
    }

    &__date-text {
      font-size: 18px;
      left: 8%;
      width: 235px;
      height: 30px;
    }

    &__logos {
      padding-left: 10%;

      &--last {
        margin-right: -16%;
      }
    }

    .footersoc.news__social {
      height: 90px;
      left: 55%;
      width: 40%;
      top: 25%;
    }
  }
}

@media only screen and (max-width: 1025px) and (max-height: 769px) {
  .menu {
    width: 124%;

    &__item {
      font-size: 24px;
      width: 81%;
    }
  }

  .main__text--text {
    font-size: 7vw;
  }

  .main__submenu {
    margin-top: 23%;

    &--first,
    &--second,
    &--tree {
      height: 85px;
    }

    &--first {

      .first-image {
        height: 90px;
      }
    }

    .first-image {
      padding-right: 35px;
    }

    .second-image {
      padding-right: 70px;
    }

    .second-text,
    .third-text {
      margin-left: 10px;
    }

    .main__submenu--tree > .third-image {
      padding-right: 75px;
    }
  }

  .news {

    .news { 

      &__program {
        left: -3%;
        top: 65%;

        &--right {

          .date {
            top: 30%;
            right: -13%;
          }
        }

      }

      &__text {
        font-size: 72px;
      }

      &__description {
        height: 56.625rem;

        .medium {
          font-size: 17px;
        }
      }

      &__social {
        width: 35%;
        margin-left: -4%;
      }
    }
  }

  .wrapper-calendar {

    .calendar {

      .calendar__day--sat {
        left: 2%;
      }

      &__day {

        &--sunimage {
          left: 32%;
          top: -74%;
        }

        &--image {
          left: 43%;
          top: -93%;
        }

        &--mon,
        &--sat,
        &--sun {
          font-size: 100px;
        }

        &--sun {
          margin-top: -25px;
          left: 67%;
        }

        &--sat {
          left: -1%;
          top: 14%;
        }

      }

      .hours{
        height: 80px;
        width: 150px;
      }

      .questions{
        font-size: 18px;
      }

      .spikers{
        font-size: 13px;
      }

      .calendar__programm.second {
        padding-top: 19%;
      }

      .calendar__programm {
        padding-top: 11%;
      }
    
      .date{
        font-size: 27px;
        width: 155px;
        margin-right: -12%;
        margin-top: 0%;
      }

      .date.white{
        top: 19%;
        margin-right: -7%;
      }
      .calendar__programm--right {

        .date {
          margin-right: -6%;
          width: 8.375rem;
          margin-right: -12%;
          margin-top: 3%;
        }

        .date.orange {
          margin-top: 1%;
        }

        .date.white {
          margin-top: 3%;
        }
      }
    } 
  }

  .wrapper-app {

    .app {

      .app__right {

        &--artikel {
          right: -8%;
          height: 58.5rem;
          width: 436px;
  
          .header-container {
            font-size: 34px;
            top: 20%;
            width: 29.25rem;
            margin-left: 0.9375rem;
          }

          .text-container {
            font-size: 12px;
            top: 60%;
            left: 57%;
          }
  
          
        }
  
        &--button {
          top: 273%;
          right: 18%;
        }

        &--phone-img {
          top: 51%;
          left: 40%;

          img {
          width: 330px;
          }
        }
  
        &--play-img {
          top: 71%;

          img {
          width: 284px;
          height: 39.9375rem;
          }
        }
  
        &--bibl-img {
          right: 13%;

          img {
          width: 284px;
          }
        }
      }
      
      &__left {

        &--subtitle {
        font-size: 16px;
        }
  
        &--title {
          font-size: 50px;

            .subtitle-container {
              margin-left: 27%;

                img {
                  min-width: 16.5rem;
                  height: 40px;
                }
            } 
        }
  
        &--text {
          font-size: 10px;
        }

        .google-icon img {
          width: 7.5rem;
        }
      }

      .app__gifts {
        top: 318%;
  
        &--title {
          font-size: 2.5rem;
        }
  
        &--fotos {
          width: 100%;

          .audio {
            margin-top: 7%;
          }
        }
      }
    }
  }

.wrapper-video {

  .video__list {

    &--exposition {
      font-size: 13px;
    }

    &--name {
      font-size: 26px;
    }

    &--name.green {
      font-size: 26px;
    }
  }
}
  
  .wrapper-footer { 

    .footer {
      margin: 0 21%;

      &__title-text {
        font-size: 24px;
      }

      &__bold-text {
        font-size: 24px;
      }

      &__date-text {
        font-size: 20px;
        left: 3%;
        width: 16.0625rem;
        height: 30px;
      }

      &__logos {
        padding-left: 10%;

        &--last {
          margin-right: -45%;
        }
      }

      .footersoc.news__social {
        height: 90px;
        left: 55%;
        width: 40%;
        top: 13%;
      }
    }
  }
}
@media only screen and (max-width: 824px) {
  .menu {
    width: 112%;

    &__item {
      font-size: 14px;
      width: 63%;
      height: 73%;
    }
  }

  .news {

    .news__text {
      font-size: 60px;
      top: 3%;
      left: -10%;
    }

    .news__program {
      left: -15%;
    }

    .news__social {
      margin-top: 7%;
      width: 42%;
      margin-left: -11%;

      &--text {
        font-size: 27px;
        margin-top: 15px;
      }
    }

    .news__description {

      .title {
        font-size: 20px;
        font-weight: 700;
      }

      .medium {
        line-height: 1.25;
        font-size: 16px;
        padding: 0% 7%;
      }
    }
  }

  .wrapper-calendar {

    .calendar {

      .calendar__day {

        .calendar__day--mon {
          font-size: 84px;
          left: 75%;
        }

        .calendar__day--image {
          left: 46%;
        }

        .calendar__day--greenim, 
        .calendar__day--sunimage {
          height: 7.375rem;
          position: relative;
        }

        .calendar__day--sunimage {
          margin-top: 8%;
          left: 40%;
        }

        .calendar__day--sat {
          margin-top: 0%;
          margin-left: 20%;
        }

        .calendar__day--sun {
          position: absolute;
          top: 37%;
          left: 54%;
          font-size: 84px;
        }

        .calendar__programm--right {

          .date {
            margin-right: -14%;
            top: 25%;
          }

          .date.orange {
            top: 27%;
          }

          .date.white {
            top: 25%;
            right: -2%;
          }
        }
      }
    }
  }

  .wrapper-app {

    .app__right {

      .app__right--artikel {
        right: -14%;
        width: 24.25rem;
        height: 61.5rem;

        .header-container {
          margin-left: -5%;
        }

        .text-container {
          font-size: .75rem;
          left: 55%;
          top: 59%;
        }
      }

      .app__right--bibl-img {
        right: 7%;
      }

      .app__right--phone-img {
        top: 51%;
        left: 30%;
      }

      .app__right--play-img {
        top: 89%;

        img {
          height: 35.9375rem;
        }
      }

      .app__right {

        &--button {
          top: 285%;
        }
      }
    }

    .app__gifts {
      top: 257%;

      &--title {
        font-size: 36px;
      }

      &--fotos {

        .audio {
          margin-top: 8%;
          padding: 10px;
        }

        .e-book {
          padding: 10px;
        }

        .mag {
          padding: 10px;
        }
      }
    }

    .app__left--title {

      .subtitle-container img {
        min-width: 12.5rem;
      }
    }
  }

  .wrapper-video {

    .video__title {

      &--left {
        font-size: 65px;
      }
    }

    .video__list {

      &--name.green {
        font-size: 22px;
      }

      &--name {
        font-size: 22px;
      }
    }
  }

  .wrapper-foto {
    margin-top: 32%;
    height: 56.5rem;

    .foto__title {

      &--right {
        font-size: 48px;
      }

      &--left {
        font-size: 25px;
        height: 40px;
      }
    } 
  }

  .wrapper-footer {

    .footer {
      margin: 0 7%;
      top: 8%;
  
      &__title-text {
        font-size: 30px;
      }
  
      &__bold-text {
        font-size: 30px;
      }
  
      &__date-text {
        font-size: 19px;
        height: 25px;
        left: 12%;
      }
  
      &__logos {
        margin-top: 8%;
        padding-left: 18%;
        
        &--last {
          margin-right: -8%;
        }
      }
  
      .footersoc.news__social {
        height: 90px;
        left: 58%;
        top: 4%;
        width: 45%;
      }
    }
  }
  
}

@media only screen and (max-width: 813px) {
  .menu {
    width: 112%;

    &__item {
      font-size: 14px;
      width: 63%;
      height: 73%;
    }
  }

  .news {

    .news__text {
      font-size: 60px;
      top: 3%;
      left: -10%;
    }

    .news__program {
      left: -15%;
    }

    .news__social {
      margin-top: 7%;
      width: 42%;
      margin-left: -11%;

      &--text {
        font-size: 27px;
        margin-top: 15px;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 700;
    }

    .medium {
      line-height: 1.25;
      font-size: 14px;
      padding: 0% 7%;
    }
  }
}

@media only screen and (max-width: 801px) {
  .menu {
    width: 112%;

    &__item {
      font-size: 14px;
      width: 63%;
      height: 73%;
    }
  }

  .main {

    &__logo {
      height: 11%;
      margin-top: 24%;
    }

    &__text {
      margin-top: 9%;
    }

    &__text--text {
      font-size: 7vw;
    }

    &__text--image {
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 2%;
    }

    .first-image {
      height: 84px;
    }

    &__submenu {
      margin-left: -55px;

      &--first {

        .first-image {
          padding-right: 48px;
          margin-left: 8px;
        }

        .first-text {
          font-size: 19px;
          padding-right: 3px;
          margin-left: -27px;
        }
      }

      &--second {

        .second-text {
          font-size: 19px;
          margin-left: -5px;
        }
      }

      &--tree {

        .third-image {
          margin-left: 5px;
          padding-right: 29px;
        }

        .third-text {
          font-size: 19px;
          margin-left: 2px;
        }
      }
    }
  }

  .news {

    &__text {
      font-size: 60px;
      top: 3%;
      left: -10%;
    }

    &__program {
      left: -15%;
    }

    &__social {
      margin-top: 7%;
      width: 42%;
      margin-left: -11%;

      &--text {
        font-size: 27px;
        margin-top: 15px;
      }
    }

    .news__description {

      .title {
        font-size: 20px;
        font-weight: 700;
      }

      .medium {
        line-height: 1.25;
        font-size: 15px;
        padding: 0% 7%;
      }
    }
  }

  .wrapper-calendar {

    .calendar {

      .calendar__day {
        .calendar__day--mon,
        .calendar__day--sun {
          font-size: 84px;
        }

        .calendar__day--mon {
          left: 66%;
        }

        .calendar__day--image {
          left: 30%;
        }
        .calendar__day--greenim, 
        .calendar__day--sunimage {
          height: 7.375rem;
          position: relative;
        }

        .calendar__day--sunimage {
          margin-top: 8%;
          left: 21%;
        }

        .calendar__day--sat {
          margin-top: -15%;
          margin-left: 20%;
        }

        .calendar__day--sun {
          position: absolute;
          top: 13%;
        }
      }

      .calendar__programm--right {

        .date {
          margin-right: -11%;
          top: 25%;
        }

        .date.orange {
          top: 27%;
        }

        .date.white {
          top: 25%;
        }
      }
    }
  }

  .wrapper-app {

    .app__right--artikel {
      right: -14%;
      width: 24.25rem;
      height: 61.5rem;

      .header-container {
        margin-left: -5%;
      }

      .text-container {
        font-size: .75rem;
        left: 55%;
      }
    }

    .app__right--bibl-img {
      right: 7%;
    }

    .app__right--phone-img {
      top: 51%;
      left: 30%;
    }

    .app__right--play-img {
      top: 89%;

      img {
        height: 35.9375rem;
      }
    }

    .app__right {

      .app__right--button {
        top: 212%;
      }
    }

    .app__gifts {
      top: 257%;

      &--title {
        font-size: 36px;
      }

      &--fotos {

        .audio {
          margin-top: 8%;
          padding: 10px;
        }

        .e-book {
          padding: 10px;
        }

        .mag {
          padding: 10px;
        }
      }
    }

    .app__left--title {

      .subtitle-container img {
        min-width: 12.5rem;
      }
    }
  }

  .wrapper-video {

    .video__list {

      &--exposition {
        font-size: 17px;
      }

      &--name {
        font-size: 25px;
      }
  
      &--name.green {
        font-size: 25px;
      }
    }
  }

  .wrapper-footer {

    .footer {
      margin: 0 7%;
      top: 8%;
  
      &__title-text {
        font-size: 35px;
      }
  
      &__bold-text {
        font-size: 22px;
      }
  
      &__date-text {
        font-size: 13px;
        height: 25px;
        left: 4%;
      }
  
      &__logos {
        margin-top: 8%;
        padding-left: 4%;
        
        &--last {
          margin-right: -8%;
        }
      }
  
      .footersoc.news__social {
        height: 90px;
        left: 58%;
        top: 4%;
        width: 45%;
      }
  
      .footer__logos {
        padding-left: 10%;
      }
    }
  }
  
}

@media only screen and (max-width: 769px) {
  .menu {
    width: 112%;
    &__item {
      font-size: 14px;
      width: 63%;
      height: 73%;
    }
  }
  .main {
    &__logo {
      height: 11%;
      margin-top: 24%;
    }

    &__text--text {
      font-size: 7vw;
    }

    .first-image {
      height: 84px;
    }

    &__submenu {
      margin-left: -55px;
      &--first {
        .first-image{
          padding-right: 48px;
          margin-left: 8px;
        }

        .first-text{
          font-size: 19px;
          padding-right: 3px;
          margin-left: -27px;
        }
      }

      &--second{
        .second-text{
          font-size: 19px;
          margin-left: -5px;
        }
      }

      &--tree{
        .third-image {
          margin-left: 5px;
          padding-right: 29px;
        }

        .third-text {
          font-size: 19px;
          margin-left: 2px;
        }
      }
    }
  }
  .news-buttons {
    z-index: 100;
  }
  .news {
    &__text {
      font-size: 60px;
      top: 3%;
      left: -10%;
    }

    &__program {
      left: -15%;
    }

    &__social {
      margin-top: 7%;
      width: 42%;
      margin-left: -11%;

      &--text {
        font-size: 27px;
        margin-top: 15px;
      }
    }
    .title {
      font-size: 20px;
      font-weight: 700;
    }
    .medium {
      line-height: 1.25;
      font-size: 16px;
      padding: 0% 7%;
    }
  }

  .wrapper-calendar { 
    .calendar {
      .calendar__day {

        .calendar__day--sunimage {
          width: 200px;
          left: 28%;
          top: -74%;
          height: 5.25rem;
        }

        .calendar__day--image {
          left: 44%;
          margin-top: -10%;
          width: 200px;
          position: relative;
        }

        .calendar__day--mon {
          position: absolute;
          top: 2%;
          left: 57%;
        }

        .calendar__day--mon,
        .calendar__day--sat {
          font-size: 4.625rem;
        }
        .calendar__day--sun {
          font-size: 3.625rem;
          position: absolute;
          top: 32%;
          left: 65%;
        }

        .calendar__day--sat {
          margin-left: -2%;
          position: absolute;
          top: 115%;
          left: 17%;
        }

        .calendar__day--greenim {
          width: 200px;
          height: 100px;
          position: relative;
        }

        .calendar__day--sunimage {
          left: 50%;
          top: 0%;
          position: relative;
          margin-top: 2%;
        }

      }
      .hours{
        font-size: 28px;
        width: 6.75rem;
        height: 4.1875rem;
        border: 7px solid;
        font-size: 24px;
      }

      .questions{
        font-size: 14px;
      }

      .spikers{
        font-size: 12px;
        margin-right: 12px;
      }

      .calendar__programm.second {
        padding-top: 19%;
      }

      .calendar__programm {
        padding-top: 10%;
      }
      
      .date{
        font-size: 16px;
        width: 5.9375rem;
        margin-right: -13%;
        top: 33%;
        height: 6%;
      }

      .date.white{
        top: 30%;
        margin-right: -14%;
      }
      .date.orange {
        top: 31%;
      }
    } 
  }

  .wrapper-app {
    .app {
      top: 2%;
      .app__right {

        .app__right--artikel {
          right: -19%;
          height: 54.5rem;
          width: 24.25rem;

          .header-container {
            width: 25.25rem;
            right: -43%;
            top: 21%;
            margin-left: 0%;
            font-size: 28px;
            height: 1.9375rem;
          }

          .text-container {
            font-size: 14px;
            left: 45%;
            top: 49%;
          }
        }
  
        .app__right--button {
          top: 203%;
          right: 29%;
          width: 200px;
        }
  
        .app__right--bibl-img {
          width: 15.75rem;
          height: 454px;
          right: 7%;
          img {
            width: 15.75rem;
            height: 22.375rem;
          }
        }
  
        .app__right--play-img {
          right: 41%;
          top: 93%;
          img {
            width: 16.75rem;
            height: 29.9375rem;
          }
        }
  
        .app__right--phone-img{
          top: 50%;
          left: 26%;
          img {
            width: 19.625rem;
            height: 31.4375rem;
          }
        }
      }

      .app__left {
        &--subtitle {
          font-size: 16px;
        }
  
        &--title {
          font-size: 44px;
          .subtitle-container {
            margin-left: 1.25rem;
            img {
              min-width: 10.5rem;
              height: 2.875rem;
            }
          }
        }
  
        &--text {
          font-size: 9px;
        }
        .google-icon img {
          width: 9.5rem;
        }
      }
  
      .app__gifts {
        top: 257%;
  
        &--title {
          font-size: 36px;
        }
  
        &--fotos {
          .audio {
            margin-top: 10%;
            padding: 10px;
          }
          .e-book {
            padding: 10px;
          }
          .mag {
            padding: 10px;
          }
        }
      }
      .main__submenu--tree.appsection {
        width: 248px;
      }

      .third-text.appsection {
        font-size: 17px;
      }
    }
  }

  .wrapper-video {
    .video__list {
      &--exposition {
        font-size: 16px;
      }
    }
  }

  .wrapper-foto {
    .foto__title--right {
      font-size: 44px;
    }
  }

  .wrapper-footer {
    .footer {
      margin: 0 7%;
      top: 8%;
  
      &__title-text {
        font-size: 26px;
      }
  
      &__bold-text {
        font-size: 26px;
      }
  
      &__date-text {
        font-size: 17px;
        height: 25px;
        left: 9%;
      }
  
      &__logos {
        margin-top: 13%;
        padding-left: 4%;
        
        &--last {
          margin-right: -47%;
        }
      }
  
      .footersoc.news__social {
        height: 90px;
        left: 58%;
        top: 4%;
        width: 45%;
      }
  
      .footer__logos {
        padding-left: 10%;
      }
    }
  }
  
}

@media only screen and (max-width: 737px) {
  .menu {
    width: 124%;
  }

  .wrapper-news {
    .news {
      .news__text {
        font-size: 56px;
        top: 3%;
        left: -10%;
      }
    }
  }

  .wrapper-calendar {
    .calendar {
      .calendar__day {
        .calendar__day--mon {
          top: 64%;
        }

        .calendar__day--sat {
          top: 28%;
        }
      }

      .calendar__programm--right {
        .date {
          width: 7.375rem;
          margin-right: -17%;
        }

        .date.white {
          right: -2%;
        }

        .hours {
          font-size: 23px;
          width: 7.75rem;
          height: 4.1875rem;
        }
      }
    }
  }

  .wrapper-app {
    .app {
      .app__right {
        .app__right--artikel .text-container {
          font-size: 13px;
          left: 50%;
          top: 49%;
        }

        .app__right--button {
          top: 237%;
        }
      }

      .app__gifts {
        top: 280%;
      }
    }
  }

  .wrapper-video  {
    margin: 10%;
    height: 100%;
    width: 80%;

    .video {
      &__title {
      flex-direction: column;
      flex-flow: column-reverse;
      align-items: flex-end;
        
        &--left {
          font-size: 120px;
        }

        &--right {
          font-size: 45px;
          height: 58px;
          padding: 0 2%;
          display: flex;
          align-items: center;
        }
      }

      &__list {
        &--exposition {
          font-size: 28px;
          margin-left: 5%;
        }

        &--name {
          margin-bottom: 5%;
          font-size: 30px;
          margin-left: 5%;
        }

        &--name.green {
          margin-bottom: 5%;
          font-size: 30px;
          margin-left: 5%;
        }
      }

      .hidden {
        display: none;
      }

    }
  }

  .wrapper-foto {
    height: 100%;
    width: 80%;
    margin: 10%;
    margin-bottom: 0;
    padding-bottom: 9%;

    .foto {
      display: flex;
      flex-direction: column;

      &__title {
        display: flex;
        width: 97%;
        align-items: center;
        flex-direction: column;
        align-items: flex-end;

        &--right {
          font-size: 77px;
        }
  
        &--left {
          font-size: 33px;
          height: 58px;
          padding: 0 2%;
          display: flex;
          align-items: center;
        }
      }

      &__container {
        position: relative;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        &--first,
        &--second {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        &--first {
          padding-right: 3%;
        }

        &--second {
          padding-left: 3%;
        }

        .picture {
          position: inherit;

          &:hover {
            filter: grayscale(0%);
          }
        }

        .foto1,
        .foto2,
        .foto3,
        .foto4,
        .foto5,
        .foto6,
        .foto7,
        .foto8{
          width: 100%;
          height: 100%
        }
      }

      &__name {
        display: none;
      }

      .hidden {
        display: none;
      }

      #Btn {
        display: block;
      }
    }
  }

  .show-foto,
  .show-video {
    color: #fff;
    font-size: .8125rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    margin: auto;
    height: 60px;
    font-size: 19px;
  }

  .show-foto.hidden,
  .show-video.hidden {
    display: none;
  }

  .show-foto {
    background-color: #f0552b;
  }

  .show-video {
    background-color: #24A985;
  }

  .wrapper-footer .footer .footersoc.news__social {
    left: 63%;
  }

  .wrapper-footer .footer__date-text {
    left: 7%;
  }
}

@media only screen and (max-width: 668px) {
  .menu {
    width: 100%;
  }

  .main {
    &__logo {
      height: 11%;
      margin-top: 24%;
    }

    &__text--text {
      font-size: 7vw;
    }

    .first-image {
      height: 84px;
    }

    &__submenu {
      margin-left: -55px;

      &--first {
        .first-image {
          padding-right: 35%;
          padding-left: 5%;
        }

        .first-text {
          font-size: 15px;
          padding-right: 3px;
          margin-left: -27px;
        }
      }

      &--second {
        .second-text {
          font-size: 15px;
          margin-left: -5px;
        }
      }

      &--tree{
        .third-image {
          margin-left: 5px;
        }

        .third-text {
          font-size: 15px;
          margin-left: 2px;
        }
      }
    }

    &__date--content {
      font-size: 30px;
    }
  }

  .wrapper-news {
    .news {
      .news {

        &__text {
          font-size: 51px;
          top: 3%;
          left: -13%;
        }

        &__program {
          left: -23%;
        }

        &__social {
          margin-top: 7%;
          width: 53%;
          margin-left: -21%;

          &--text {
            font-size: 23px;
            margin-top: 15px;
          }
        }
        
        &__description {
          height: 56.625rem;
        
          .title {
            font-size: 17px;
            font-weight: 700;
            margin-top: 34px;
          }
          .medium {
            font-size: 17px;
            line-height: 1.2;
            font-family: 'Roboto Medium', sans-serif;
          }
        }
      }
    }
  }

  .wrapper-calendar { 
    .calendar {
      .calendar__day {

        .calendar__day--sunimage {
          width: 200px;
          left: 28%;
          top: -74%;
          height: 5.25rem;
        }

        .calendar__day--image {
          left: 67%;
          margin-top: -10%;
          width: 200px;
        }

        .calendar__day--mon {
          left: 72%;
          top: 53%;
        }

        .calendar__day--mon,
        .calendar__day--sat {
          font-size: 3.625rem;
        }

        .calendar__day--sun {
          font-size: 49px;
          margin-top: -5%;
        }

        .calendar__day--sat {
          margin-left: 0%;
          top: 91%;
          left: 17%;
        }

        .calendar__day--image {
          left: 53%;
          margin-top: -7%;
          width: 11.5rem;
          height: 4.25rem;
        }

        .calendar__day--greenim {
          width: 10.5rem;
          height: 4.25rem;
          margin-top: -3%;
        }

        .calendar__day--sunimage {
          left: 49%;
          top: -23%;
          width: 10.5rem;
          height: 4.25rem;
        }
      }

      .calendar__programm {
        .hours{
          font-size: 28px;
          width: 6.75rem;
          height: 4.1875rem;
          border: 7px solid;
          font-size: 24px;
        }

        .questions{
          font-size: 14px;
        }

        .spikers{
          font-size: 12px;
          margin-right: 12px;
        }

        .calendar__programm.second {
          padding-top: 9%;
        }

        .date{
          font-size: 14px;
          width: 5.9375rem;
          margin-right: -13%;
          top: 26%;
        }

        .date.white{
          top: 27%;
          margin-right: -16%;
        }
        .date.orange {
          top: 29%;
        }
      }
    }
  }

  .wrapper-app { 
    height: 78.5rem;

    .app {
      top: 2%;
      .app__right {

        .app__right--artikel {
          right: -20%;
          height: 49.5rem;
          width: 19.25rem;

          .header-container {
            height: 5.9375rem;
            width: 23.25rem;
            right: -43%;
            top: 18%;
            font-size: 26px;
            margin-left: -1.0625rem;
          }

          .text-container {
            left: 45%;
            top: 51%;
            font-size: 12px;
            line-height: 1.25;
          }
        }

        .app__right--button {
          top: 229%;
          right: 22%;
          width: 200px;
        }

        .app__right--bibl-img {
          width: 15.75rem;
          height: 454px;
          right: -7%;
          img {
            width: 12.75rem;
            height: 19.375rem;
          }
        }

        .app__right--play-img {
          right: 41%;
          top: 90%;
          img {
            width: 14.75rem;
            height: 26.9375rem;
          }
        }

        .app__right--phone-img{
          top: 45%;
          left: 24%;
          img {
            width: 18.625rem;
            height: 29.4375rem;
          }
        }
      }
      
      .app__left {
        &--subtitle {
          font-size: 13px;
        }

        &--title {
          font-size: 33px;
          .subtitle-container {
            margin-left: 1.25rem;
            img {
              min-width: 9.5rem;
              height: 30px;
            }
          }
        }

        &--text {
          font-size: 9px;
        }
        .google-icon img {
          width: 8.5rem;
        }
      }

      .app__gifts {
        top: 267%;

        &--title {
          font-size: 33px;
        }

        &--fotos {
            width: 90%;
            margin-left: 0%;
            margin-top: 2%;
            .audio {
                margin-top: 5%;
                img {
                  width: 121px;
                  height: 116px;
                }
            }
            .e-book img{
              width: 96px;
              height: 135px;
            }
            .mag img{
              width: 96px;
              height: 135px;
            }
            .description {
                font-size: 19px;
            }
        }
      }
      .main__submenu--tree.appsection {
        width: 248px;
      }

      .third-text.appsection {
        font-size: 17px;
      }
    }
  }

  .wrapper-footer {
    .footer {
      margin: 0 7%;
      top: 8%;

      &__title-text {
        font-size: 27px;
      }

      &__bold-text {
        font-size: 27px;
      }

      &__date-text {
        width: 18.0625rem;
        font-size: 22px;
        height: 25px;
        left: 4%;
      }

      .footer__logos {
        margin-top: 8%;
        padding-left: 4%;

          &--last {
            margin-right: -45%;
          }
      }

      .footersoc.news__social {
        height: 90px;
        left: 73%;
        top: 6%;
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 642px) {
  .menu {
    width: 112%;

    &__item {
      font-size: 14px;
      width: 63%;
      height: 73%;
    }
  }

  .main {
    &__logo {
      height: 11%;
      margin-top: 24%;
    }

    &__text--text {
      font-size: 7vw;
    }

    .first-image {
      height: 84px;
    }

    &__submenu {
      margin-left: -55px;

      &--first {
        .first-image {
          padding-right: 35%;
          padding-left: 5%;
        }

        .first-text {
          font-size: 15px;
          padding-right: 3px;
          margin-left: -27px;
        }
      }

      &--second {
        .second-text {
          font-size: 15px;
          margin-left: -5px;
        }
      }

      &--tree{
        .third-image {
          margin-left: 5px;
        }

        .third-text {
          font-size: 15px;
          margin-left: 2px;
        }
      }
    }

    &__date--content {
      font-size: 30px;
    }
  }

  .news-buttons {
    z-index: 100;
  }

  .wrapper-news {
    .news {
      .news {

        &__text {
          font-size: 48px;
          top: 3%;
          left: -13%;
        }

        &__program {
          left: -23%;
        }

        &__social {
          margin-top: 7%;
          width: 53%;
          margin-left: -21%;

          &--text {
            font-size: 23px;
            margin-top: 15px;
          }
        }
        
        &__description {
          height: 46.625rem;
        
          .title {
            font-size: 17px;
            font-weight: 700;
            margin-top: 34px;
          }
          .medium {
            font-size: 15px;
            line-height: 1.2;
            font-family: 'Roboto Medium', sans-serif;
          }
        }
      }
    }
  }

  .wrapper-calendar { 
    .calendar {
      .calendar__day {

        .calendar__day--sunimage {
          width: 200px;
          left: 28%;
          top: -74%;
          height: 5.25rem;
        }

        .calendar__day--image {
          left: 67%;
          margin-top: -10%;
          width: 200px;
        }

        .calendar__day--mon {
          left: 72%;
          top: 63%;
        }

        .calendar__day--mon,
        .calendar__day--sat {
          font-size: 3.625rem;
        }

        .calendar__day--sun {
          font-size: 49px;
          margin-top: -5%;
        }

        .calendar__day--sat {
          margin-left: 0%;
          top: 87%;
          left: 17%;
        }

        .calendar__day--image {
          left: 53%;
          margin-top: -7%;
          width: 11.5rem;
          height: 4.25rem;
        }

        .calendar__day--greenim {
          width: 10.5rem;
          height: 4.25rem;
          margin-top: -3%;
        }

        .calendar__day--sunimage {
          left: 49%;
          top: -23%;
          width: 10.5rem;
          height: 4.25rem;
        }
      }

      .calendar__programm {

        .hours {
          font-size: 28px;
          width: 6.75rem;
          height: 4.1875rem;
          border: 7px solid;
          font-size: 24px;
        }

        .questions {
          font-size: 14px;
        }

        .spikers {
          font-size: 12px;
          margin-right: 12px;
        }

        .calendar__programm.second {
          padding-top: 9%;
        }

        .date {
          font-size: 14px;
          width: 5.9375rem;
          margin-right: -13%;
          top: 30%;
        }

        .date.white {
          top: 27%;
          margin-right: -16%;
        }

        .date.orange {
          top: 29%;
        }
      }
    }
  }

  .wrapper-app { 
    height: 78.5rem;

    .app {
      top: 2%;
      .app__right {

        &--artikel {
          right: -20%;
          height: 49.5rem;
          width: 19.25rem;

          .header-container {
            height: 5.9375rem;
            width: 23.25rem;
            right: -43%;
            top: 18%;
            font-size: 26px;
            margin-left: -1.0625rem;
          }

          .text-container {
            left: 45%;
            top: 51%;
            font-size: 12px;
            line-height: 1.25;
          }
        }

        &--button {
          top: 232%;
          right: 22%;
          width: 200px;
        }

        &--bibl-img {
          width: 15.75rem;
          height: 454px;
          right: -7%;
          img {
            width: 12.75rem;
            height: 19.375rem;
          }
        }

        &--play-img {
          right: 41%;
          top: 87%;
          img {
            width: 14.75rem;
            height: 31.9375rem;
          }
        }

        &--phone-img{
          top: 45%;
          left: 24%;
          img {
            width: 18.625rem;
            height: 29.4375rem;
          }
        }
      }
      
      &__left {
        &--subtitle {
          font-size: 13px;
        }

        &--title {
          font-size: 33px;
          .subtitle-container {
            margin-left: 1.25rem;
            img {
              min-width: 9.5rem;
              height: 30px;
            }
          }
        }

        &--text {
          font-size: 9px;
        }
        .google-icon img {
          width: 8.5rem;
        }
      }

      .app__gifts {
        top: 284%;

        &--title {
          font-size: 33px;
        }

        &--fotos {
            width: 90%;
            margin-left: 0%;
            margin-top: 2%;
            .audio {
                margin-top: 5%;
                img {
                  width: 121px;
                  height: 116px;
                }
            }
            .e-book img{
              width: 96px;
              height: 135px;
            }
            .mag img{
              width: 96px;
              height: 135px;
            }
            .description {
                font-size: 19px;
            }
        }
      }
      .main__submenu--tree.appsection {
        width: 248px;
      }

      .third-text.appsection {
        font-size: 17px;
      }
    }
  }

  .wrapper-video  {
    margin: 10%;
    height: 100%;
    width: 80%;

    .video {
      &__title {
      flex-direction: column;
      flex-flow: column-reverse;
      align-items: flex-end;
        
        &--left {
          font-size: 120px;
        }

        &--right {
          font-size: 45px;
          height: 58px;
          padding: 0 2%;
          display: flex;
          align-items: center;
        }
      }

      &__list {
        &--exposition {
          font-size: 28px;
          margin-left: 5%;
        }

        &--name {
          margin-bottom: 5%;
          font-size: 30px;
          margin-left: 5%;
        }

        &--name.green {
          margin-bottom: 5%;
          font-size: 30px;
          margin-left: 5%;
        }
      }

      .hidden {
        display: none;
      }

    }
  }

  .wrapper-foto {
    height: 100%;
    width: 80%;
    margin: 10%;
    margin-bottom: 0;
    padding-bottom: 9%;

    .foto {
      display: flex;
      flex-direction: column;

      &__title {
        display: flex;
        width: 97%;
        align-items: center;
        flex-direction: column;
        align-items: flex-end;

        &--right {
          font-size: 66px;
        }
  
        &--left {
          font-size: 33px;
          height: 58px;
          padding: 0 2%;
          display: flex;
          align-items: center;
        }
      }

      &__container {
        position: relative;
        height: 73.75rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        &--first,
        &--second {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        &--first {
          padding-right: 3%;
        }

        &--second {
          padding-left: 3%;
        }

        .picture {
          position: inherit;

          &:hover {
            filter: grayscale(0%);
          }
        }

        .foto1,
        .foto2,
        .foto3,
        .foto4,
        .foto5,
        .foto6,
        .foto7,
        .foto8{
          width: 100%;
          height: 100%
        }
      }

      .all-fotos {
        height: 93.75rem;
      }

      &__name {
        display: none;
      }

      .hidden {
        display: none;
      }

      #Btn {
        display: block;
      }
    }
  }

  .show-foto,
  .show-video {
    color: #fff;
    font-size: .8125rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    margin: auto;
    height: 60px;
    font-size: 19px;
  }

  .show-foto.hidden,
  .show-video.hidden {
    display: none;
  }

  .show-foto {
    background-color: #f0552b;
  }

  .show-video {
    background-color: #24A985;
  }

  .wrapper-footer {
    .footer {
      margin: 0 7%;
      top: 8%;

      &__title-text {
        font-size: 27px;
      }

      &__bold-text {
        font-size: 27px;
      }

      &__date-text {
        width: 18.0625rem;
        font-size: 22px;
        height: 25px;
        left: 4%;
      }

      .footer__logos {
        margin-top: 8%;
        padding-left: 4%;

          &--last {
            margin-right: -45%;
          }
      }

      .footersoc.news__social {
        height: 90px;
        left: 73%;
        top: 6%;
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 601px) and (max-height: 962px){
  .navbar__container {
    margin: 0 2%;
  }

  .main {
    &__date {
      &--content {
        font-size: 28px;
      }
    }

    &__text--text {
      font-size: 7vw;
    }
  }

  .wrapper-news {
    .news {

      .news__description {
        width: 82%;
        height: 46.625rem;

        .title {
          font-size: 18px;
          margin-top: 15%;
        }

        .medium {
          font-size: 14px;
        }
      }
    }

    .news {
      .news__program {
        left: -26%;
        top: 50%;
      }
    }
    
    
  }

  .wrapper-calendar {
    .calendar {
      .calendar__day {

        .calendar__day--mon {
          top: 14%;
        }

        .calendar__day--sat {
          top: 118%;
        }

        .calendar__day--sun {
          margin-top: 1%;
        }
      }

      .calendar__programm--right {

        .date {
          width: 4.9375rem;
          top: 25%;
        }

        .date.orange {
          top: 24%;
        }

        .date.white {
          top: 24%;
          margin-right: -13%;
        }
      }
    }
  }

  .wrapper-app {
    .app {
      .app__right {
        .app__right--artikel {
          height: 47.5rem;
  
          .text-container {
            left: 55%;
          }
        }

        .app__right--button {
          top: 214%;
          right: 23%;
        }
      }

      .app__right--play-img {
        top: 90%;

        img {
          height: 27.9375rem;
        }
      }

      .app__left--text {
        font-size: 7px;
      }

      .app__left--subtitle {
        font-size: 12px;
      }

      .app__gifts {
        top: 276%;
      }
    }
  }

  .wrapper-video {
    .video__title {
      &--left {
        font-size: 70px;
      }

      &--right {
        font-size: 25px;
        height: 40px;
      }
    }
  }

  .wrapper-foto {
    .foto__title {
      &--left {
        font-size: 25px;
        height: 40px;
      }

      &--right {
        font-size: 47px;
      }
    }
  }

  .wrapper-footer {
    .footer {
      top: -2%;

      &__title-text {
        font-size: 33px;
      }

      &__bold-text {
        font-size: 33px;
        margin-top: -3%;
      }

      &__date-text {
        left: 17%;
        font-size: 21px;
        width: 59%;
      }

      .footersoc.news__social {
        top: 33%;
        width: 67%;
        margin-left: -61%;
      }

      .footer__logos {
        padding-left: 0;
        margin-top: 45%;

        img {
          width: 12.3125rem;
          height: 7.0625rem;
          margin-right: 20%;
        }

        .footer__logos--last {
          width: 14.375rem;
          height: 5.25rem;
          margin-right: -17%;
        }
      }
    }
  }
}
