/*                                        Mobile       */
@media screen and (max-width: 577px) {
    .read-more {
        top: 61rem;
    }

    .menu.nav.navbar-nav.ml-auto {
        position: absolute;
        z-index: 10000000;
        background: black;
        height: auto;
        opacity: .9;
        flex-direction: column;
        width: 100%;
    }

    .collapse:not(.show){
        display: none;
    }

    .navbar{
        background-size: cover;

        &__container{
          .dropdown-menu {
            position: relative;
            background-color: transparent;
            width: 100%;
          }

          &--button {
              width: 30px;
              height: 25px;
              right: -22px;
              top: 24px;
              position: absolute;
          }
        }
    }

    button:focus {
        outline: none;
    }

    .hamburger{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
    }

    .navbar-toggler {
        padding: 0;
    }

    .button-icon{
        height: 4px;
        width: 25px;
        margin-top: 3px;
        background-color:#24a985;
    }

    .menu {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .navbar {
        height: 768px;
        &__container {
            width: 70%;
            &--button {
                display: flex;
            }
        }
    }
    
      .main {
        &__submenu {
          &--first,
          &--second {
            display: none;
          }
        }

        &__text {
            &--image {
                background-image: url(../images/logo_small.png);
                background-size: contain;
            }
        }
      }

    #more {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 115%;
        padding: 0 11% 0 12%;
        margin-left: -12%;
    }

    .main {
        margin-left: 19%;
        margin-right: 9%;
        position: relative;
        padding-bottom: 50%!important;

        &__text {
            display: flex;
            flex-direction: column-reverse;
            margin-top: -8%;


            &--text {
                margin-bottom: 56%;
                font-size: 12vw;
            }

            &--image {
                margin-top: -48%;
                width: 167px;
                height: 88px;
                background-size: contain;
            }
        }
        &__logo {
            margin-left: 11%;
            margin-right: 23%;
            background-size: contain;
            position: relative;
            top: 51%;
            width: 19.5rem;
            height: 8.875rem;
            top: 75%!important;
        }

        &__date {
            width: 163px;
            height: 16px;
            position: absolute;
            top: 24.5%;
            left: 4%;

            &--content {
                font-size: 12px;
                padding: 0 2px;
            }
        }

        &__submenu {
            margin-left: 14%;
            margin-right: 23%;

            &--tree {
                width: 15.625rem;
                height: 3.875rem;
                position: absolute;
                bottom: 15%;

                .third-text {
                    font-size: 17px;
                    margin-left: 0;
                }
                .third-image {
                    margin-left: 10px;
                    background-size: contain;
                    width: 4.0625rem;
                    height: 2.6875rem;
                }
            }

        }
    }

    .main__submenu .main__submenu--tree>.third-image {
        padding-right: 0;
    }

    .news__description {
        display: none;
    }

    .news__description.mobile {
        display: flex;
        height: 56%!important;
        width: 30rem;

        #more {
            display: none;
        }

        .mobile-read {
            width: 39%;
            height: 39px;
            background-color: #F0552B;
            color: white;
            font-size: 13px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1%;
            position: absolute;
            top: 90%;
        }
    }

  .wrapper-news {
    padding-top: 0;

    .news-buttons {
      display: none;
    }

    .news {
        .news { 
            &__text {
                font-size: 5.625rem;
                margin-left: 26%;
                top: 2%;
                left: -18%;
                .text-margin {
                    margin-left: 21%;
                }
            } 
            
            &__description {
                width: 30rem;
                height: 77%;
                left: -22%;
                padding: 22% 3%;

                .title {
                    font-size: 21px;
                    font-family: 'Roboto Bold', sans-serif;
                    margin-left: 7%;
                    margin-top: 8%;
                    font-weight: bold;
                }
                .medium {
                    font-size: 16px;
                    font-family: "Roboto Regular",sans-serif;
                    padding: 0 4% 0 1%;
                }
            }
            &__program {
                width: 201px;
                height: 49px;
                z-index: 10;
                font-size: 19px;
                top: 50%;
                padding-left: 0.0625rem;
                padding-right: 0.0625rem;
                padding-bottom: 0.0625rem;
                left: 74%;
            }

            &__social {
                position: absolute;
                top: 66%;
                width: 115%;
                margin-left: -34px;

                &--text {
                    font-size: 26px;
                    margin-left: -4%;
                }
            }
        }
    }
  }

.wrapper-calendar {
    margin: 16% 5%;
    padding: 0 4%;
    width: 95%;
    .calendar {

        .calendar__programm.second {
            padding-top: 2%!important;
        }

        .wrapper-second {
            flex-direction: column;

            .calendar__programm--left {
                margin-top: 17%;
            }
        }

        .calendar__day {
            padding-bottom: 0;

            .calendar__day--image {
                width: 15.75rem;
                height: 4.75rem;
                margin-top: -38%;
                margin-left: 14px;
                position: relative;
                left: 0;
            }

            .calendar__day--mon {
                font-size: 5.6875rem;
                top: 83%;
                left: 22%;
                position: absolute;
            }

            .calendar__day--sun {
                margin-top: 3%;
                margin-left: 12%;
                position: absolute;
                top: -9%;
                font-size: 90px;
                left: 5%;
            }

            .calendar__day--sat {
                font-size: 5.6875rem;
                margin-top: 8%;
                margin-left: 6%; 
                left: 15%;
                top: -28%;
                position: absolute;
            }

            .calendar__day--greenim {
                width: 12.875rem;
                height: 5.5rem;
                margin-top: 10%;
                margin-left: 4%;
                position: relative;
            }

            .calendar__day--sunimage {
                width: 15.5rem;
                height: 5.1875rem;
                margin-top: 8%;
                margin-left: -46%;
                position: relative;
            }
        }

        &__programm {

            padding-top: 25px;
            flex-direction: column;

            .calendar__programm--right {
                margin-bottom: 10%;
                margin-top: 7%;

                .date {
                    width: 7.25rem;
                    height: 1.5625rem;
                    font-size: 20px;
                    position: absolute;
                    top: -6%;
                    left: 0%;
                }

                .date.white {
                    top: -5%;
                }

                .date.orange {
                    margin-top: -67%;
                }
            }
            .questions {
                &__white,
                &__green {
                    font-size: 23px;
                }

                &__white,
                &__orang {
                    font-size: 23px;
                }

                &__orang {
                    font-weight: 100;
                    br {
                        display: none;
                    }
                }
            }
            .hours {
                border: 8px solid;
                margin-bottom: 10px;
            }
            .spikers {
                font-size: 18px;
            }

            &--left,
            &-center {
                margin-bottom: 10%;
            }

            &--center{
                .hours {
                    margin-left: 68%;
                }

                .questions {
                    &__white {
                        margin-left: 35%;
                    }

                    &__white.center {
                        margin-left: 51%;
                    }

                    &__white.latter {
                        margin-left: 48%;
                    }

                    &__green {
                        margin-left: 44%;
                    }

                    &__green.center {
                        margin-left: 62%;
                    }

                    &__green.latter {
                        margin-left: 35%;
                    }
                    
                }
                .spikers {
                    
                    .light {
                        margin-left: 40%;
                    }

                    .light.center {
                        margin-left: 21%;
                    }

                    .light.center br {
                        display: none;
                    }

                    .light.latter {
                        margin-left: 54%;
                    }
                    
                    .center {
                        margin-left: 11%;
                    }

                    span b {
                        margin-left: 47%;
                    }
                    
                }
            }
            &--left.last {
                margin-top: -10%;

                .hours {
                    margin-left: 68%;
                }

                .questions {

                    &__white.right {
                        margin-left: 37%;
                    }

                    &__green.right {
                        margin-left: 31%;
                    }
                    
                    &__white.first {
                        margin-left: 9%;
                    }

                    &__green.first {
                        margin-left: -1%;
                    }
                }
                .spikers.sat > .right {
                    margin-left: 60%;
                }
                .spikers.sat > .light.first {
                    margin-left: 52%;
                }
                
            }
            &--left {
                margin-top: 4%;
            }
        }
    }
}

.wrapper-app {
    width: 70%;

    .app {
            top: -3%;

            .app__right {

                &--artikel {
                    height: 404px;
                    top: 83%;

                    .text-container {
                        p {
                            padding-left: 10%;

                            br {
                                display: none;
                            }
                        }
                        .additionally {
                            display: block;
                            font-weight: 400;
                        }
                    }
                } 
            }
    }
}

.wrapper-app {
    height: 91.5rem;

    .app {

        .app__right {
            .app__right--bibl-img {
                top: 82%;
                width: 13.75rem;
                right: 9%;
            
                img {
                    width: 12.625rem;
                    height: 19.5625rem;
                }
            }

            .app__right--button {
                top: 371%;
                right: 28%;
            }
            
            .app__right--play-img {
                right: 64%;
                top: 38%;
                img {
                    width: 11.625rem;
                    height: 20.5625rem;
                }
            }

            .app__right--phone-img {
                left: 10px;
                top: 114%;
                margin-left: 5%;

                img {
                    width: 15.375rem;
                    height: 22.1875rem;
                }
            }

            .app__right--artikel {
                top: 87%;
                right: -12%;
                width: 18.25rem;
                height: 28.25rem;

                .header-container {
                    right: 0px;
                    top: 36%;
                    padding: 8px;
                    left: 16%;
                    font-size: 27px;
                    width: 26.25rem;
                }

                .text-container {
                    font-weight: 400;
                    color: white;
                    top: 117%;
                    left: -73%;
                    font-size: 13px;
                    font-family: "Roboto Regular";
                    width: 176%;
                    font-weight: 400;
                }
            }

            .main__submenu--tree.appsection {
                margin-top: 99%;
                width: 186px;
                height: 45px;

                .third-text.appsection {
                    font-size: 13px;
                }

                .third-image.appsection {
                    width: 33px;
                    height: 26px;
                    margin-right: 2%;
                    margin-left: 0;
                }
            }
        }

        .app__left {

            &--title {
                font-size: 5rem;
                margin-left: 56%;

                .subtitle-container {
                    margin-left: 3.25rem;

                    img{
                        min-width: 15.5rem;
                        height: 40px;
                    }
                } 
            }

            &--text {
                display: none;
            }

            
            &--icons {
                display: none; 
            }
        
        }

        .app__gifts {
            margin-top: 149%;

            &--title {
                font-size: 32px;
                margin-left: -16%;
            }

            &--fotos {
                width: 90%;
                margin-left: 0%;
                margin-top: 2%;

                .audio {
                    margin-top: 5%;

                    img {
                    width: 102px;
                    height: 92px;
                    }
                }

                .e-book img{
                    width: 80px;
                    height: 113px;
                }

                .mag img{
                    width: 80px;
                    height: 113px;
                }

                .description {
                    font-size: 15px;
                }
            }

            .mobile-content {
                display: flex;
                color: white;
                font-size: 13px;
                font-family: "Roboto Regular";
                flex-direction: column;
                font-weight: 400;

                p b {
                    font-size: 24px;
                    margin-left: -4%;
                    font-family: 'Roboto Bold', sans-serif;
                }

                p {
                    margin-left: -11%;
                }

                .mobile-images {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: -1%;

                    img {
                        width: 9.75rem;
                    }

                    .first-mobile-img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
// ===================================================================Video and Foto=======================================================================
.wrapper-video {
    .video {
        &__title {
            &--left {
                font-size: 107px;
            }
        }
    }
}

.wrapper-footer {
    height: 41.125rem;

    .footer {
        top: 9%;

        &__title-text {
            font-size: 33px;
        }

        &__bold-text{
            font-size: 29px;
            margin-top: -3%;
        }

        &__date-text {
            left: 2%;
            font-size: 1.3125rem;
            width: 65%;
        }

        .footersoc.news__social {
            width: 100%;
            top: 36%;
            margin-left: -70%;
        }

        &__logos {
            padding-left: 0;
            margin-top: 67%;

            img {
                width: 12.3125rem;
                height: 7.0625rem;
                margin-right: 20%;
            }

            .footer__logos--last {
                width: 12.375rem;
                height: 5.25rem;
            }
        }
    }
}

.wrapper-news {
    .news-buttons {
        display: none;
    }
}

}

@media screen and (min-width: 374px) and (max-width: 415px) {
    .main {
        margin-left: 9%;
        margin-right: 9%;
        position: relative;
        padding-bottom: 50%!important;

        &__text {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 1%;

            &--text {
                margin-bottom: 45%;
                font-size: 16vw;
            }

            &--image {
                margin-top: -48%;
            }
        }

        &__logo {
            margin-left: 20%;
            margin-right: 23%;
            background-size: contain;
            position: relative;
            top: 51%;
            width: 200px;
            height: 62px;
            top: 69%!important;
        }

        &__date {
            position: absolute;
            top: 20.5%;
            left: 4%;

            &--content {
                padding: 0 2px;
            }
        }

        &__submenu {
            margin-left: 23%;
            margin-right: 23%;
            
            &--tree {
                width: 186px;
                height: 46px;
                position: absolute;
                bottom: 15%;

                .third-text {
                    font-size: 13px;
                }
                .third-image {
                    margin-left: 10px;
                    background-size: contain;
                    width: 2.0625rem;
                    height: 1.6875rem;
                }
            }

        }
    }

    .news__description.mobile {
        display: flex;
        height: 58%!important;
        width: 23rem;

        #more {
            display: none;
            width: 120%;
        }

        .mobile-read {
            width: 39%;
            height: 39px;
            background-color: #F0552B;
            color: white;
            font-size: 13px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1%;
            position: absolute;
            top: 92%;
        }
    }

    .wrapper-news {
        padding-top: 0;

        .news-buttons {
          display: none;
        }

        .news {
            .news{

                &__text {
                    font-size: 3.625rem;
                    margin-left: 26%;
                    top: 4%;
                    left: -18%;
                    .text-margin {
                        margin-left: 21%;
                    }
                }

                &__description {
                    width: 303px;
                    height: 77%;
                    left: -22%;
                    padding: 22% 3%;

                    .title {
                        font-size: 17px;
                        font-family: 'Roboto Bold', sans-serif;
                        margin-left: 7%;
                        margin-top: 8%;
                        font-weight: bold;
                    }

                    .medium {
                        font-size: 14px;
                        font-family: "Roboto Regular",sans-serif;
                        padding: 0 13% 0 1%;
                    }
                }

                &__program {
                    width: 201px;
                    height: 49px;
                    z-index: 10;
                    font-size: 19px;
                    top: 50%;
                    padding-left: 0.0625rem;
                    padding-right: 0.0625rem;
                    padding-bottom: 0.0625rem;
                    left: 55%;
                }

                &__social {
                    position: absolute;
                    top: 66%;
                    width: 127%;
                    margin-left: -34px;

                    &--text {
                        font-size: 26px;
                        margin-left: -4%;
                    }
                }
            }
        }
    }

    .wrapper-calendar {

        .calendar {

            .calendar__day {

                .calendar__day--sun {
                    font-size: 66px;
                    left: 5%;
                }

                .calendar__day--sat,
                .calendar__day--mon {
                    font-size: 4.6875rem;
                }

                .calendar__day--mon {
                    top: 52%;
                }

                .calendar__day--image {
                    width: 188px;
                    height: 60px;
                    margin-top: -38%;
                    position: unset;
                    margin-left: 14px;
                }

                .calendar__day--greenim {
                    width: 158px;
                    height: 72px;
                    margin-top: 10%;
                    margin-left: 4%;
                }

                .calendar__day--sunimage {
                    width: 11.5rem;
                    height: 4.1875rem;
                    margin-top: 10%;
                    margin-left: -46%;
                }
            }
            .calendar__programm {
                padding-top: 25px;
                flex-direction: column;

                .calendar__programm--right {
                    margin-bottom: 10%;
                    margin-top: 7%;

                    .date {
                        width: 100px;
                        height: 25px;
                        font-size: 19px;
                        position: absolute;
                        top: -6%;
                        left: 0%;
                    }

                    .date.orange {
                        top: 16%;
                    }

                    .date.white {
                        top: -4%;
                    }
                }

                .questions{
                    &__white,
                    &__green {
                        font-size: 19px;
                    }

                    &__white,
                    &__orang {
                        font-size: 19px;
                    }

                    &__orang {
                        font-weight: 100;
                        br {
                            display: none;
                        }
                    }
                }

                .hours {
                    border: 6px solid;
                    margin-bottom: 10px;
                }

                .spikers {
                    font-size: 15px;
                }

                &--left,
                &-center {
                    margin-bottom: 10%;
                }

                &--center {

                    .hours {
                        margin-left: 65%;
                    }

                    .questions {

                        &__white {
                            margin-left: 33%;
                        }

                        &__white.center {
                            margin-left: 46%;
                        }

                        &__white.latter {
                            margin-left: 48%;
                        }

                        &__green {
                            margin-left: 44%;
                        }

                        &__green.center {
                            margin-left: 58%;
                        }

                        &__green.latter {
                            margin-left: 33%;
                        }
                    }

                    .spikers {

                        .light {
                            margin-left: 5%;
                        }

                        .light.center {
                            margin-left: 45%;
                        }

                        .light.latter {
                            margin-left: 33%;
                        }
                        
                        .center {
                            margin-left: 10%;
                        }
                        span b {
                            margin-left: 19%;
                        }
                        
                    }
                }

                &--left.last {
                    margin-top: 0%;

                    .hours {
                        margin-left: 65%;
                    }

                    .questions {

                        &__white.right {
                            margin-left: 29%;
                        }

                        &__green.right {
                            margin-left: 18%;
                        }
                        
                        &__white.first {
                            margin-left: 45%;
                        }

                        &__green.first {
                            margin-left: 22%;
                        }
                    }

                    .spikers.sat > .right {
                        margin-left: 54%;
                    }

                    .spikers.sat > .light.first {
                        margin-left: 33%;
                    }
                    
                }
            }
        }
    }

    .wrapper-app {
        width: 68%;
        height: 99.5rem;

        .app {
            top: 2%;
           
            .app__right {

                .app__right--bibl-img {
                    top: 82%;
                    width: 13.75rem;
                    right: -24%;
                   
                    img {
                        width: 122px;
                        height: 217px;
                    }
                }

                .app__right--button {
                    top: 357%;
                    right: 11%;
                }
    
                .app__right--play-img {
                    right: 63%;
                    top: 44%;

                    img {
                        width: 122px;
                        height: 217px;
                    }
                }
    
                .app__right--phone-img {
                    top: 118%;
                    margin-left: 1%;
                    left: 10px;

                    img {
                        width: 198px;
                        height: 323px;
                    }
                }
    
                .app__right--artikel {
                    right: -20%;
                    width: 13.25rem;
                    height: 404px;
                    top: 83%;

                    .header-container {
                        right: 0px;
                        left: -11%;
                        font-size: 29px;
                        top: 38%;
                        padding: 5px;
                        width: 25.25rem;
                    }
                    
                    .text-container {
                        font-weight: 400;
                        color: white;
                        top: 117%;
                        left: -52%;
                        font-size: 13px;
                        font-family: "Roboto Regular";
                        width: 141%;
    
                        p {
                            margin-left: -10%;
                            br {
                                display: none;
                            }
                        }

                        .additionally {
                            display: block;
                            font-weight: 400;
                            margin-left: -10%;
                        }
                    }
                }
    
                .main__submenu--tree.appsection {
                    margin-top: 99%;
                    width: 186px;
                    height: 45px;

                    .third-text.appsection {
                        font-size: 13px;
                    }

                    .third-image.appsection {
                        width: 33px;
                        height: 26px;
                        margin-right: 2%;
                        margin-left: 0;
                    }
                }
            }

            .app__left {

                &--title {
                    font-size: 48px;
                    margin-left: 58%;

                    .subtitle-container {
                        margin-left: 2.25rem;
                       
                        img {
                            min-width: 10rem;
                            height: 40px;
                        }
                    } 
                }
    
                &--text {
                    display: none;
                }
    
                
                &--icons {
                    display: none; 
                }
               
            }

            .app__gifts {
                margin-top: 254%;

                .app__gifts--title {
                    font-size: 24px;
                    margin-left: -15%;
                    display: flex;
                    flex-direction: row;
                    width: 340px;

                    .green {
                        margin-left: 5px;
                    }
                }

                &--fotos {
                    width: 100%;
                    margin-left: -5%;
                    margin-top: 2%;
                    padding-left: 10%;

                    .audio {
                        margin-top: 8%;

                        img {
                        width: 102px;
                        height: 92px;
                        }
                    }

                    .e-book img{
                        width: 80px;
                        height: 113px;
                    }

                    .mag img{
                        width: 80px;
                        height: 113px;
                    }

                    .description {
                        font-size: 15px;
                    }
                }

                .mobile-content {
                    display: flex;
                    color: white;
                    font-size: 13px;
                    font-family: "Roboto Regular";
                    flex-direction: column;
                    font-weight: 400;

                    p b {
                        font-size: 24px;
                        margin-left: -4%;
                        font-family: 'Roboto Bold', sans-serif;
                    }

                    p {
                        font-size: 13px; 
                        padding: 0 2%;
                        margin-left: -10%;
                    }

                    .mobile-images img {
                        width: 147px;
                    }
                }
            }
        }
    }

    .wrapper-video {

        .video__title {

            &--left {
                font-size: 70px;
            }
        }

        .video__list {

            &--exposition {
                font-size: 20px;
            }
        }

        .show-foto {
            font-size: 14px;
            width: 50%;
        }
    }

    .wrapper-foto {

        .show-video {
            font-size: 14px;
            width: 50%;
        }

        .foto__container {
            height: 47.75rem;
        }

        .foto {
            .all-fotos {
                height: 61.75rem;
            }
        }
    }

    .wrapper-footer { 
        height: 29.125rem;

        .footer {
            top: 11%;
            margin: 0 15%;

            &__title-text {
                font-size: 22px;
            }

            &__bold-text{
                font-size: 22px;
                margin-top: -3%;
            }

            &__date-text {
                font-size: 17px;
                left: 7%;
                width: 82%;
            }

            .footersoc.news__social {
                top: 36%;
                width: 100%;
                margin-left: -73%;
            }

            .footer__logos {
                padding-left: 0;
                margin-top: 65%;

                img {
                    min-width: 8.3125rem;
                    height: 6.0625rem;
                    margin-right: 5%;
                }

                .footer__logos--last {
                    min-width: 8.375rem;
                    height: 4.25rem;
                }
            }
        }
    }
}

@media screen and (max-width: 361px) {
        #more {
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 120%;
            padding: 0 11% 0 12%;
            margin-left: -12%;
        }
       
        .navbar {
            height: 640px;
            background-size: cover;
        }
        .main {
            margin-left: 9%;
            margin-right: 9%;
            position: relative;
            padding-bottom: 50%!important;
            &__text {
                display: flex;
                flex-direction: column-reverse;
                margin-top: 1%;

                &--text {
                    margin-bottom: 67%;
                    font-size: 16vw;
                }

                &--image {
                    margin-top: -48%;
                }
            }
            &__logo {
                margin-left: 20%;
                margin-right: 23%;
                background-size: contain;
                position: relative;
                top: 51%;
                width: 200px;
                height: 62px;
                top: 69%!important;
            }

            &__date {
                position: absolute;
                top: 24.5%;
                left: 4%;
                &--content {
                    padding: 0 2px;
                }
            }

            &__submenu {
                margin-left: 23%;
                margin-right: 23%;
                &--tree {
                    width: 186px;
                    height: 46px;
                    position: absolute;
                    bottom: 15%;

                    .third-text {
                        font-size: 13px;
                    }
                    .third-image {
                        margin-left: 10px;
                        background-size: contain;
                        width: 2.0625rem;
                        height: 1.6875rem;
                    }
                }

            }
        }
        .main__submenu .main__submenu--tree>.third-image {
            padding-right: 0;
        }
        .news__description {
            display: none;
        }
        .news__description.mobile {
            display: flex;
            height: 56%!important;

            #more {
                display: none;
            }
            .mobile-read {
                width: 39%;
                height: 39px;
                background-color: #F0552B;
                color: white;
                font-size: 13px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1%;
                position: absolute;
                top: 90%;
            }
        }

      .wrapper-news {
        padding-top: 0;

        .news-buttons {
          display: none;
        }

        .news {
            .news {
                &__text {
                font-size: 58px;
                margin-left: 26%;
                top: 4%;
                left: -18%;

                    .text-margin {
                        margin-left: 21%;
                    }
                }

                &__description {
                    width: 303px;
                    height: 77%;
                    left: -22%;
                    padding: 22% 3%;

                    .title {
                        font-size: 17px;
                        font-family: 'Roboto Bold', sans-serif;
                        margin-left: 7%;
                        margin-top: 8%;
                        font-weight: bold;
                    }

                    .medium {
                        font-size: 13px;
                        font-family: "Roboto Regular", sans-serif;
                        padding: 0 11% 0 1%;
                    }
                }

                &__program {
                    width: 201px;
                    height: 49px;
                    z-index: 10;
                    font-size: 19px;
                    top: 50%;
                    padding-left: 0.0625rem;
                    padding-right: 0.0625rem;
                    padding-bottom: 0.0625rem;
                    left: 60%;
                }

                &__social {
                    position: absolute;
                    top: 66%;
                    width: 127%;
                    margin-left: -34px;

                    &--text {
                        font-size: 26px;
                        margin-left: -4%;
                    }
                }
            }
        }
      }

.wrapper-calendar {
    margin: 0 5%;
    padding: 0;
    width: 90%;

    .calendar {
        .wrapper-second {
            flex-direction: column;

            .calendar__programm--left {
                margin-top: 28%;
            }
        }
            .calendar__day {
                padding-bottom: 0;

                .calendar__day--image {
                    width: 188px;
                    height: 60px;
                    margin-top: -38%;
                    position: unset;
                    margin-left: 14px;
                }

                .calendar__day--mon {
                    font-size: 75px;
                    left: 23%;
                    top: 27%;
                }

                .calendar__day--sun {
                    font-size: 65px; 
                    left: -6%;
                    margin-top: 2%;
                    margin-left: 20%;
                }

                .calendar__day--sat {
                    font-size: 75px;
                    margin-top: 12%;
                    margin-left: 6%; 
                }

                .calendar__day--greenim {
                    width: 158px;
                    height: 72px;
                    margin-top: 10%;
                    margin-left: 4%;
                }

                .calendar__day--sunimage {
                    width: 168px;
                    height: 51px;
                    margin-top: 10%;
                    margin-left: -48%;
                }
            }

            .calendar__programm {
                padding-top: 25px;
                flex-direction: column;

                &--right {
                    margin-bottom: 10%;
                    margin-top: 7%;

                    .date {
                        width: 100px;
                        height: 25px;
                        font-size: 19px;
                        position: absolute;
                        top: -6%;
                        left: 0%;
                    }

                    .date.orange {
                        margin-top: -102%;
                    }

                    .date.white {
                        top: 1%;
                        margin-top: -15%;
                    }
                }

                .questions{
                    &__white,
                    &__green {
                        font-size: 19px;
                    }

                    &__white,
                    &__orang {
                        font-size: 19px;
                    }

                    &__orang {
                        font-weight: 100;
                        br {
                            display: none;
                        }
                    }
                }

                .hours {
                    border: 6px solid;
                    margin-bottom: 10px;
                }

                .spikers {
                    font-size: 15px;
                }

                &--left,
                &-center {
                    margin-bottom: 10%;
                }

                &--center{

                    .hours {
                        margin-left: 65%;
                    }

                    .questions {

                        &__white {
                            margin-left: 27%;
                        }

                        &__white.center {
                            margin-left: 46%;
                        }

                        &__white.latter {
                            margin-left: 45%;
                        }

                        &__green {
                            margin-left: 38%;
                        }

                        &__green.center {
                            margin-left: 58%;
                        }

                        &__green.latter {
                            margin-left: 28%;
                        }
                    }

                    .spikers {
                        .light {
                            margin-left: 12%;
                        }

                        .light.center {
                            margin-left: 28%;
                        }

                        .light.latter {
                            margin-left: 31%;
                        }
                        
                        .center {
                            margin-left: 11%;
                        }
                        span b {
                            margin-left: 11%;
                        }
                        
                    }
                }

                &--left.last {
                    margin-top: 0%;

                    .hours {
                        margin-left: 65%;
                    }

                    .questions {
                        &__white.right {
                            margin-left: 29%;
                        }

                        &__green.right {
                            margin-left: 18%;
                        }
                        
                        &__white.first {
                            margin-left: 44%;
                        }

                        &__green.first {
                            margin-left: 24%;
                        }
                    }
                    .spikers.sat > .right {
                        margin-left: 54%;
                    }
                    .spikers.sat > .light.first {
                        margin-left: 32%;
                    }
                    
                }
            }

            .calendar__programm.second {
                padding-top: 3%!important;
            }
            
        }
}

.wrapper-app {
        width: 68%;
        height: 97.5rem;
    
        .app {
            top: 2%;
           
            .app__right {
    
                .app__right--bibl-img {
                    top: 82%;
                    width: 13.75rem;
                    right: -24%;
                   
                    img {
                        width: 122px;
                        height: 217px;
                    }
                }
    
                .app__right--play-img {
                    right: 70%;
                    top: 37%;
    
                    img {
                        width: 122px;
                        height: 217px;
                    }
                }
    
                .app__right--phone-img {
                    top: 115%;
                    margin-left: -10%;
                    left: 10px;
    
                    img {
                        width: 198px;
                        height: 20.1875rem;
                    }
                }
    
                .app__right--artikel {
                    right: -20%;
                    width: 13.25rem;
                    height: 404px;
                    top: 83%;
    
                    .header-container {
                        right: 0px;
                        left: -12%;
                        font-size: 29px;
                        top: 38%;
                        padding: 5px;
                        width: 25.25rem;
                    }
    
                    .text-container {
                        font-weight: 400;
                        color: white;
                        top: 117%;
                        left: -52%;
                        font-size: 13px;
                        font-family: "Roboto Regular";
                        width: 141%;
    
                        p {
                            margin-left: -10%;
                            br {
                                display: none;
                            }
                        }
    
                        .additionally {
                            display: block;
                            font-weight: 400;
                            margin-left: -10%;
                        }
                    }
                }
    
                .app__right--button {
                    top: 320%;
                    right: 20%;
                    width: 186px;
                    height: 45px;
                }
    
                .main__submenu--tree.appsection {
                    margin-top: 99%;
                    width: 186px;
                    height: 45px;
    
                    .third-text.appsection {
                        font-size: 13px;
                    }
    
                    .third-image.appsection {
                        width: 33px;
                        height: 26px;
                        margin-right: 2%;
                        margin-left: 0;
                    }
                }
            }
    
            .app__left {
    
                &--title {
                    font-size: 48px;
                    margin-left: 58%;
    
                    .subtitle-container img {
                        min-width: 11.5rem;
                        height: 3.125rem;
                    }
                }
    
                &--text {
                    display: none;
                }
    
                
                &--icons {
                    display: none; 
                }
               
            }

            .app__gifts {
                margin-top: 248%;
    
                &--title {
                    font-size: 24px;
                    margin-left: -15%;
                    display: flex;
                    flex-direction: row;
                    width: 340px;
    
                    .green {
                        margin-left: 5px;
                    }
                }
    
                &--fotos {
                    width: 100%;
                    margin-left: -5%;
                    margin-top: 2%;
                    padding-left: 10%;
    
                    .audio {
                        margin-top: 8%;
    
                        img {
                        width: 102px;
                        height: 92px;
                        }
                    }
    
                    .e-book img{
                        width: 80px;
                        height: 113px;
                    }
    
                    .mag img{
                        width: 80px;
                        height: 113px;
                    }
    
                    .description {
                        font-size: 15px;
                    }
                }
                .mobile-content {
                    display: flex;
                    color: white;
                    font-size: 13px;
                    font-family: "Roboto Regular";
                    flex-direction: column;
                    font-weight: 400;
    
                    p b {
                        font-size: 24px;
                        margin-left: -4%;
                        font-family: 'Roboto Bold', sans-serif;
                    }
    
                    p {
                        font-size: 13px; 
                        padding: 0 2%;
                        margin-left: -10%;
                    }
    
                    .mobile-images {
                        margin-left: 4%;
                        margin-top: -5%;
                        img {
                            width: 133px;
                        }
                    }
                }
            }
        }
}

.wrapper-video {

    .show-foto {
        font-size: 13px;
        width: 50%;
    }

    .video__title {
        &--left {
            font-size: 67px;
        }
    }

    .video__list {
        &--exposition {
            font-size: 20px;
        }

        &--name {
            font-size: 22px;
        }

        &--name.green {
            font-size: 22px;
        }

    }
}

.wrapper-foto {

    .show-video {
        font-size: 13px;
        width: 50%;
    }

    .foto__title {
        &--right {
            font-size: 43px;
        }
    }

    .foto__container {
        height: 40.75rem;
    }

    .foto {

        .all-fotos {
            height: 55.75rem;
        }
    }
}

.wrapper-footer {

    .footer {
        top: 11%;
        margin: 0 8%;
        height: 29.125rem;

        &__title-text {
            font-size: 26px;
        }

        &__bold-text{
            font-size: 26px;
            margin-top: -3%;
        }

        &__date-text {
            font-size: 17px;
            left: 22%;
            width: 76%;
        }

        .footersoc.news__social {
            top: 36%;
            width: 90%;
            margin-left: -68%;
        }

        .footer {

            &__logos {
                padding-left: 0;
                margin-top: 90%;

                img {
                    width: 117px;
                    height: 62px;
                    margin-right: 5%;
                }

                .footer__logos--last {
                    width: 166px;
                    height: 52px;
                    margin-top: 9%;
                }
            }
        }
        
    }
}

    .wrapper-news {
        .news-buttons {
            display: none;
        }
    }
}

@media screen and (max-width: 321px)  {
    .main {

        &__text {

            &--text {
                font-size: 16vw;
            }
        }
    }

    .wrapper-news {
        margin: 0 5%;
        padding: 0;
        width: 90%;

        .news {
            .news {

                &__text {
                    font-size: 56px;
                }

                &__description.mobile {
                    left: -10%;
                    padding: 22% 0%;

                    .medium {
                        padding: 0 20% 0 1%;
                        #more {
                            width: 129%;
                        }
                    }

                    .mobile-read {
                        top: 92%;
                    }
                }

                &__social {
                    width: 100%;
                    margin-left: -0.125rem;
                }
            }
        }
       
    }

    .wrapper-calendar {

        .calendar {
            .calendar__day {

                .calendar__day--sun {
                    font-size: 60px;
                }

                &--mon,
                &--sat {
                    font-size: 72px;
                }
            }

            .calendar__programm {
                .calendar__programm--center{

                    .hours {
                            margin-left: 65%;
                    }
    
                    .questions {
                        &__white {
                            margin-left: 20%;
                        }
    
                        &__white.center {
                            margin-left: 41%;
                        }
    
                        &__white.latter {
                            margin-left: 38%;
                        }
    
                        &__green {
                            margin-left: 32%
                        }
    
                        &__green.center {
                            margin-left: 54%;
                        }
    
                        &__green.latter {
                            margin-left: 19%;
                        }
                    }

                    .spikers {

                            .light {
                                margin-left: 0%;
                            }

                            .light.center {
                                margin-left: 18%;
                            }

                            .light.latter {
                                margin-left: 22%;
                            }

                            .center {
                                margin-left: 9%;
                            }

                            span b {
                                margin-left: 1%;
                            }
                            
                    }
                }

                &--left.last {
                        .hours {
                            margin-left: 65%;
                        }
                        .questions {
                            &__white.right {
                                margin-left: 21%;
                            }
                            &__green.right {
                                margin-left: 7%;
                            }
                            
                            &__white.first {
                                margin-left: 37%;
                            }
    
                            &__green.first {
                                margin-left: 14%;
                            }
                        }
                        .spikers.sat > .right {
                            margin-left: 48%;
                        }
                        .spikers.sat > .light.first {
                            margin-left: 22%;
                        }
                            
                }

                &--right {  
                    .date {
                        top: -5%;
                    }


                } 
            }
        }
    }

    .wrapper-calendar .calendar .calendar__programm--right .date.orange {
        margin-top: -110%;
    }

    .wrapper-app {
        margin: 0 5%;

        .app {

            .app__left {

                .app__left--title {
                    font-size: 42px;
                    margin-left: 80%;

                    .subtitle-container {
                        margin-left: 32px;

                            img {
                                min-width: 175px;
                                height: 42px;
                            }
                    } 
                }
            }
             .app__right {

                .header-container {
                    width: 23.25rem;
                    height: 3.9375rem;
                    top: 40%;
                }

                .app__right--button {
                    top: 352%;
                    right: -6%;
                }

                .app__right--phone-img {
                    top: 120%;
                }

                .app__right--bibl-img {
                    width: 12.75rem; 
                    position: absolute;
                    right: -38%;
                }

                .app__right--play-img {
                    right: 53%;
                }

                .app__right--artikel {
                    right: -39%;
                    width: 12.25rem;

                    .header-container {
                        left: -15%;
                        font-size: 26px;
                        top: 42%;
                    }

                    .text-container {
                        top: 112%;
                    }
                }
            }

            .app__gifts {
                margin-top: 304%;

                &--title {
                    width: 100%;
                    right: 0;
                    margin-left: 8%;
                    font-size: 15px;

                    .green {
                        margin-left: 6px;
                    }
                }

                &--fotos {
                    margin-top: 2%;
                    width: 80%;
                    padding-left: 60%; .app

                    .audio {
                        margin-top: 49%;
                    }
                }
                .mobile-content {
                    margin-left: -8%;
                    font-weight: 400;

                    p b {
                        font-size: 24px;
                        margin-left: -4%;
                        font-family: 'Roboto Bold', sans-serif;
                    }

                    p {
                        font-size: .8125rem;
                        padding: 0 2%;
                        margin-left: 11%;
                        width: 112%;
                    }

                    .mobile-images {
                        margin-left: 30%;
                        margin-top: -6%;

                        img {
                            width: 125px;
                        }

                        .first-mobile-img {
                            width: 99px;
                        }
                    }
                }
            }
        }
    }

    .wrapper-video {

        .video__title {

            &--left {
                font-size: 60px;
            }
        }

        .video__list {
            &--exposition {
                font-size: 17px;
            }
        }
    }

    .wrapper-foto {
        .foto__title--right {
            font-size: 39px;
        }
    }

    .wrapper-footer { 

        .footer {

            .footer__logos {

                .footer__logos {
                    padding-left: 6%;

                    &--last {
                        width: 8.375rem;
                    }
                }
            }

            .footer__title-text {
                font-size: 23px;
            }

            .footer__bold-text {
                font-size: 23px;
            }

            .footer__date-text {
                left: 15%;
                font-size: 16px;
            }
        }
    }
}