@@include('./templates/header.html', {
    "lang": "en",
    "title": "Homepage"
})

<main>
    <section id="Kawiarni" class="wrapper-news">
        <div class="news-buttons">
            <div class="news__item ticket">
                <a href="https://offsklep.pl/Client/bilet/lista?_ga=2.211646225.563074726.1563440247-1201954067.1554295701" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 51 34" width="51" height="34" class="iconsvg">
                        <path d="M50.997,11.464 L49.444,11.816 C47.097,12.351 45.392,14.534 45.392,17.007 C45.391,19.480 47.094,21.665 49.441,22.202 L50.993,22.556 L50.991,30.329 C50.990,31.308 50.617,32.230 49.941,32.924 C49.265,33.618 48.368,34.000 47.414,34.000 C47.414,34.000 47.413,34.000 47.413,34.000 L3.576,33.984 C1.604,33.983 0.000,32.336 0.001,30.311 L0.003,22.500 L1.349,22.032 C3.452,21.299 4.866,19.274 4.867,16.993 C4.868,14.712 3.455,12.685 1.352,11.951 L0.007,11.483 L0.009,3.671 C0.010,1.647 1.615,0.000 3.586,0.000 L3.587,0.000 L47.424,0.016 C49.396,0.017 51.000,1.664 50.999,3.689 L50.997,11.464 ZM37.638,4.082 L37.637,6.882 L33.673,6.881 L33.674,4.081 L3.973,4.070 L3.972,8.694 C5.391,9.466 6.587,10.609 7.441,12.013 C8.351,13.507 8.832,15.229 8.831,16.994 C8.830,18.759 8.348,20.481 7.438,21.975 C6.583,23.379 5.386,24.520 3.966,25.291 L3.965,29.915 L33.665,29.926 L33.667,27.125 L37.630,27.126 L37.629,29.927 L47.027,29.930 L47.028,25.664 C45.644,25.066 44.418,24.122 43.469,22.922 L43.469,22.922 C42.153,21.256 41.428,19.155 41.428,17.006 C41.429,14.857 42.155,12.757 43.473,11.092 C44.421,9.893 45.648,8.951 47.035,8.351 L47.035,4.086 L37.638,4.082 ZM33.670,16.272 L33.673,8.343 L37.636,8.344 L37.634,16.273 L33.670,16.272 ZM37.631,25.664 L33.667,25.663 L33.670,17.734 L37.633,17.735 L37.631,25.664 Z"></path>
                    </svg>
                </a>
            </div>
            <div class="news__item phone">
                <a href="#Aplikacja" class="go_to">
                    <img src="assets/images/shake.png">
                </a>
            </div>
            <div class="news__item book">
                <a href="https://nexto.pl?utm_source=nextoff" target="_blank">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375.65 272.35" width="80" height="54" class="iconsvg"><defs><style>.cls-1{fill:#fff;}</style></defs><title>book</title><path class="cls-1" d="M33.89,135.21q0-29.25,0-58.5c0-23.47,14.61-39.77,37.82-42.48a12.21,12.21,0,0,0,4.89-2c33.88-22,69-24.07,105.33-6.65a7.69,7.69,0,0,0,7.72,0Q244.1-.61,295,32.13a13.65,13.65,0,0,0,5.87,2.15c20.4,2,36.61,18.81,36.75,39.41q.4,61.74,0,123.49c-.17,22-18.2,39.26-40.31,39.36q-39,.18-78,0c-3.33,0-5.17.76-6.87,4-5.51,10.63-14.8,16.52-26.62,16.52s-21.11-5.89-26.64-16.5c-1.7-3.25-3.5-4.08-6.86-4.07-25.49.12-51,.09-76.49.06-24.48,0-41.86-17.39-41.92-41.87C33.85,174.87,33.89,155,33.89,135.21Zm263.2-80.53V60.9q0,67.47,0,134.94c0,11.06-5,14.62-15.64,11.28-7.14-2.24-14.36-4.24-21.51-6.46-22.8-7.08-44.79-4.27-66,5.74a17.49,17.49,0,0,1-16.15,0c-20.41-9.47-41.53-12.93-63.61-6.31-8.76,2.63-17.57,5.13-26.34,7.74-7.39,2.19-13-1.74-13.27-9.47-.06-1.49,0-3,0-4.49V54.7c-12.61.42-20.39,8.95-20.4,21.83q-.07,58.47,0,117c0,14.8,8.1,22.92,22.84,22.92q46.23,0,92.46,0h6.31c0,3.53-.06,6.49,0,9.45.17,6.45,4.19,10.69,10.06,10.7s9.92-4.23,10.09-10.66c.08-3.08,0-6.16,0-9.49h98.23c15.43,0,23.38-7.95,23.39-23.4q0-36.73,0-73.47c0-14.66.12-29.32-.05-44C317.32,63.41,309.43,55.18,297.09,54.68Zm-20.57,128.2a16.9,16.9,0,0,0,.35-2.07c0-44.29.05-88.58-.14-132.87,0-1.7-1.89-4.17-3.53-5-24.49-11.77-49.06-11.68-73.66-.14-2.81,1.32-3.73,3-3.73,6.09q.16,64.95.09,129.88c0,1.22.19,2.45.33,4.11A126.07,126.07,0,0,1,276.52,182.88Zm-101,0c.11-1.37.22-2,.22-2.68q0-65.94.1-131.88c0-3.18-1.42-4.39-3.82-5.52-24.4-11.5-48.8-11.49-73.29-.22-3.23,1.48-4.07,3.5-4.06,6.91.12,42.79.07,85.58.09,128.37,0,1.56.15,3.11.25,5.09C122,174.05,148.5,174.23,175.48,182.91Z"/><path class="cls-1" d="M256.46,95.39v19.55h-40.1V95.39Z"/><path class="cls-1" d="M256.46,54.78V74.31h-40V54.78Z"/><path class="cls-1" d="M256.46,135.78v19.53h-40V135.78Z"/><path class="cls-1" d="M155.31,95.31v19.51h-40V95.31Z"/><path class="cls-1" d="M115,74.23V54.85h40.12V74.23Z"/>
                        <path class="cls-1" d="M155.24,135.72v19.45h-40V135.72Z"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="news">
            <div class="news__text">
                <span>Kawiarnia</span> 
                <span class="text-margin">Literacka</span>
            </div>
            <div class="news__social">
                <div class="news__social--list">
                        <a class="icon icon-fb" href=" https://www.facebook.com/offfestival/"></a>
                        <a class="icon icon-fb" href=" https://www.facebook.com/Nextopl/"></a>
                        <a class="icon icon-fb" href=" https://www.facebook.com/events/735829043500410/"></a>
                        <a class="icon icon-instagram" href="https://www.instagram.com/nextopl/"></a>
                        <a class="icon icon-youtube" href="https://www.youtube.com/c/nexto"></a>
                </div>
                <div class="news__social--text">Social media</div>
            </div>
            <div class="news__program"><a href="#Program" class="go_to">Zobacz program</a></div>
            <div class="news__description">
                <p class="title"><b>OFF Festival Katowice 2019:<br>
                    Kawiarnia Literacka stawia pytania</b>
                </p>
                <div class="medium">
                    <p>Hasłem przewodnim jest sformułowanie „dlaczego?”</p>

                    <p>Z dziecinną naiwnością pytamy o sprawy najprostsze i ważne: o ekologię, przedmioty wokół nas, muzykę i <br>
                        rodzaje literatury. Rozmawiamy z pisarzami/pisarkami i ludźmi kultury oraz słuchamy ich twórczości.</p>

                    <p>Zapraszamy również publiczność do udziału w kawiarnianych dyskusjach i zastanawiamy się, czy jedna <br>
                        książka może być odczytywana na wiele sposobów.</p>

                    <p>W piątek martwimy się o historię kobiet, w sobotę rapujemy, a w niedzielę odczuwamy moralny niepokój.</p> 

                    <p>Oprócz spotkań, słuchowisk i improwizacji w Kawiarni Literackiej będzie miała miejsce wystawa projektu<br>
                        „Wycinki w termosie” Małgorzaty Koniecznej. Między rozmowami muzykę puszczać będą didżeje.</p>

                    <p>Kuratorką wszystkich wydarzeń jest Sylwia Chutnik – pisarka i działaczka społeczna.</p>

                    <p>Partnerem Kawiarni Literackiej w 2019 roku jest portal Nexto.pl, który na miejscu prowadzić będzie <br>
                        sprzedaż książek oraz tytułów prasowych: KMAG, Newonce Magazyn oraz Przekrój. </p>
                </div>
            </div>
            <div class="news__description mobile">
                    <p class="title"><b>OFF Festival Katowice 2019:<br>
                        Kawiarnia Literacka stawia pytania</b>
                    </p>
                    <div class="medium">
                        <div id="dots">
                            <p>Hasłem przewodnim jest sformułowanie „dlaczego?”</p>

                            <p>Z dziecinną naiwnością pytamy o sprawy najprostsze i ważne: o ekologię, przedmioty wokół nas, muzykę i <br>
                        rodzaje literatury. Rozmawiamy z pisarzami/pisarkami i ludźmi kultury oraz słuchamy ich twórczości.</p>

                            <p>Zapraszamy również publiczność do udziału w kawiarnianych dyskusjach i zastanawiamy się, czy jedna <br>
                        książka może być odczytywana na wiele sposobów.</p>

                            <p>W piątek martwimy się o historię kobiet, w sobotę rapujemy, a w niedzielę odczuwamy moralny niepokój.</p> 
                        </div>
                        <div id="more"> 
                            <p>Oprócz spotkań, słuchowisk i improwizacji w Kawiarni Literackiej będzie miała miejsce wystawa projektu<br>
                                    „Wycinki w termosie” Małgorzaty Koniecznej. Między rozmowami muzykę puszczać będą didżeje.</p>
                            <p>Kuratorką wszystkich wydarzeń jest Sylwia Chutnik – pisarka i działaczka społeczna.</p>

                            <p>Partnerem Kawiarni Literackiej w 2019 roku jest portal Nexto.pl, który na miejscu prowadzić będzie <br>
                        sprzedaż książek oraz tytułów prasowych: KMAG, Newonce Magazyn oraz Przekrój. </p>
                        </div>
                    </div>
                    <div  onclick="myFunction()" id="myBtn" class="mobile-read">Czytaj całość</div>
            </div>
        </div>
    </section>
    <section id="Program" class="wrapper-calendar">
        <div class="calendar">
            <div class="calendar__day">
                <div class="calendar__day--image"></div>
                <div class="calendar__day--mon">Piątek</div>
            </div>
            <div class="calendar__programm">
                <div class="calendar__programm--left">
                    <div class="hours">17:20</div>
                    <div class="questions">
                        <span class="questions__white">Dlaczego przedmioty są ważne? </span>
                        <span class="questions__orang">Why do Objects Matter?</span>
                    </div>
                    <div class="spikers">
                        <span class="light">Olga Drenda, Agata Napiórska, Marta Sapała </span>
                        <span><b>Współpraca: Wydawnictwo Czarne</b></span>
                    </div>
                </div>
                <div class="calendar__programm--center">
                    <div class="hours">19:20</div>
                    <div class="questions">
                        <span class="questions__white">Dlaczego historia kobiet?</span>
                        <span class="questions__green"> Why Study Herstory?</span>
                    </div>
                    <div class="spikers">
                        <span class="light">Joanna Ostrowska, Joanna Kuciel Frydryszak </span>
                        <span><b>Współpraca: Wydawnictwo Marginesy</b></span>
                    </div>   
                </div>
                <div class="calendar__programm--right">
                    <div class="hours">21:30</div>
                    <div class="date">02.08.2019</div>
                    <div class="questions">
                        <span class="questions__white">Klub Komediowy i Radek Łukasiewicz</span>
                        <span class="questions__orang">Klub Komediowy feat. Radek Łukasiewicz</span>
                    </div>
                    <div class="spikers last">
                        <span class="light">Matylda Damięcka, Weronika Nockowska,<br>
                             Katarzyna Kołeczek, Agata Sasinowska, <br>

                            Mateusz Lewandowski, Bartłomiej Magdziarz,<br>
                             Maciej Nawrocki, Grzegorz Kwiecień. 
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="calendar">
            <div class="calendar__day">
                <div class="calendar__day--greenim"></div>
                <div class="calendar__day--sat">Sobota</div>
            </div>
            <div class="calendar__programm second">
            <div class="wrapper-second">
                <div class="calendar__programm--left">
                    <div class="hours">16:00</div>
                    <div class="questions">
                        <span class="questions__white">Dlaczego głośno?  </span>
                        <span class="questions__orang">Why So Loud?</span>
                    </div>
                    <div class="spikers">
                        <span class="light">Jakub Kornhauser, Agata Jabłońska, <br>
                            Paweł Harlender, Jacek Świdziński </span>
                        <span><b>Współpraca: Kraków Miasto Literatury UNESCO </b></span>
                    </div>
                </div>
                <div class="calendar__programm--center">
                    <div class="hours">17:20</div>
                    <div class="questions">
                        <span class="questions__white center">Dlaczego hip hop? </span>
                        <span class="questions__green center"> Why Hip Hop?</span>
                    </div>
                    <div class="spikers">
                        <span class="light center">Bartek Chaciński, Szymon Kobylarz,<br>
                             Jan-rapowanie, Rafał Grobel  </span>
                        <span class="center"><b>Prowadzenie: Bogna Świątkowska</b></span>
                    </div>   
                </div>
                <div class="calendar__programm--right">
                    <div class="hours">19:20</div>
                    <div class="date orange">03.08.2019</div>
                    <div class="questions">
                        <span class="questions__white">Słuchowisko: Grzegorz Uzdański </span>
                        <span class="questions__orang">Audio Performance by Grzegorz Uzdański</span>
                    </div>
                    <div class="spikers last">
                        <span>Współpraca: Przekrój</span>
                    </div>
                </div>
            </div>
                <div class="calendar__programm--left last">
                    <div class="hours">21:30</div>
                    <div class="questions">
                        <span class="questions__white right">Spektakl improwizowany Klubu Komediowego</span>
                        <span class="questions__green right"> Improv Comedy Performance by Klub Komediowy</span>
                    </div>
                    <div class="spikers sat">
                        <span class="right">Współpraca: Przekrój </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="calendar">
            <div class="calendar__day">
                <div class="calendar__day--sunimage"></div>
                <div class="calendar__day--sun">Niedziela</div>
            </div>
            <div class="calendar__programm second">
                <div class="wrapper-second">
                    <div class="calendar__programm--left">
                        <div class="hours">16:00</div>
                        <div class="questions">
                            <span class="questions__white">Dlaczego robi się pismo? <br>
                                Spotkanie z redakcją „Przekroju”. </span>
                            <span class="questions__orang"> Why Make a Magazine? A Conversation <br>
                                With the Editors of Przekrój Magazine.</span>
                        </div>
                    </div>
                    <div class="calendar__programm--center">
                        <div class="hours">17:20</div>
                        <div class="questions">
                            <span class="questions__white latter">Dlaczego komiksy? </span>
                            <span class="questions__green latter"> Why Make Comic Books?</span>
                        </div>
                        <div class="spikers">
                            <span class="light latter">Maria Lengren, Szymon Holcma </span>
                        </div>   
                    </div>
                    <div class="calendar__programm--right">
                        <div class="hours">19:20</div>
                        <div class="date white">04.08.2019</div>
                        <div class="questions">
                            <span class="questions__white">Dlaczego moralny niepokój? </span>
                            <span class="questions__orang">Why Make Movies About Distrust?</span>
                        </div>
                        <div class="spikers last">
                            <span>Katarzyna Surmiak-Domańska, Jerzy Stuhr</span>
                        </div>
                    </div>
                </div>
                <div class="calendar__programm--left last">
                    <div class="hours">21:30</div>
                    <div class="questions">
                        <span class="questions__white first">Dlaczego punk rock w Nowym Jorku?  </span>
                        <span class="questions__green first"> Why Did Punk Rock Flourish in New York?</span>
                    </div>
                    <div class="spikers sat">
                        <span class="light first">Jan Błaszczak, Andrzej Wojtasik</span>
                    </div>  
                </div>
            </div>
        </div>        
    </section>
    <section id="Aplikacja" class="wrapper-app">
        <div class="app">
            <div class="app__left">
                <div class="app__left--title">
                    <span class="white">Aplikacja</span>
                    <div class="subtitle-container">
                            <img src="./assets/images/applogo.png" width="510px" height="113px">
                    </div>
                </div>
                <div class="app__left--text">Słowo zapisane jest jak partytura. Słowo<br>
                     wypowiedziane – wyszeptane, wykrzyczane, <br>
                     wyśpiewane… - to już muzyka. Dlatego Kawiarnia <br>
                     Literacka jest od lat integralną częścią festiwalu.</div>
                <div class="app__left--subtitle">Pobierz aplikację:</div>
                <div class="app__left--icons">
                    <div class="google-icon">
                        <a href="https://apps.apple.com/us/app/nextoff/id1473113310?l=pl&ls=1" target="_blank"  class="link-first"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.ffflable.nextoff" target="_blank" class="link-second"></a>
                        <img src="./assets/images/AppStoreLogo.png">
                    </div>
                </div>
            </div>
            <div class="app__right">
                <div class="app__right--artikel">
                    <div class="header-container">
                        Aplikacja Kawiarni Literackiej <br>Bądź z nami na bieżąco!
                    </div>
                    <div class="text-container">
                        <p>Słowo zapisane jest jak partytura. <br>
                            Słowo wypowiedziane – wyszeptane, <br>
                            wykrzyczane, wyśpiewane… <br>
                            - to już muzyka. Dlatego Kawiarnia <br>
                            Literacka jest od lat integralną <br>
                            częścią festiwalu. </p>
                        <p>Tu odbywają się dyskusje, czytanesą<br>
                             teksty, gra muzyka, a wszystko <br>
                             kręci się wokół słowa. </p>
                        <p>Tegorocznym hasłem przewodnim<br>
                             spotkań w Kawiarni Literackiej jest <br>
                             sformułowanie „dlaczego?”.</p>
                        <p class="additionally">Z dziecinną naiwnością pytamy o sprawy proste i
                             ważne: ekologię, przedmioty wokół nas, muzykę i
                             literaturę. Rozmawiamy z pisarzami i pisarkami,
                              dziennikarzami i innymi ludźmi kultury.
                               Zapraszamy publiczność do udziału w 
                               kawiarnianych dyskusjach i wspólnie 
                               zastanawiamy się, czy jedna książka może być
                                odczytywana na wiele sposobów. </p>
                        <p class="additionally">W piątek martwimy się o historię kobiet,
                             w sobotę rapujemy, a w niedzielę odczuwamy
                              moralny niepokój.
                        </p>
                    </div>
                </div>
                <div class="app__right--play-img">
                    <img src="assets/images/Niezalogowany@2x.png">
                </div>
                <div class="app__right--phone-img">
                    <img src="assets/images/smartmockups_jxpyeste.png">
                </div>
                <div class="app__right--bibl-img">
                    <img src="assets/images/Audiobook@2x.png">
                </div>
                <div class="app__right--button">
                    <div class="main__submenu--tree appsection">
                        <div class="third-image appsection"></div>
                        <div class="third-text appsection"> <a href="https://nexto.pl?utm_source=nextoff" target="_blank">odwiedź nexto.pl</a></div>
                    </div>
                </div>
            </div>
            <div class="app__gifts">
                <div class="app__gifts--title">Darmowe w aplikacji<span class="green">NextOFF</span> </div>
                <div class="app__gifts--fotos">
                    <div class="audio">
                        <img src="assets/images/audio.jpg">
                        <div class="description">Audiobook</div>
                    </div>
                    <div class="e-book">
                        <img src="assets/images/ebook.jpg">
                        <div class="description">E-book</div>
                    </div>
                    <div class="mag">
                        <img src="assets/images/mag.jpg">
                        <div class="description">Magazyn</div>
                    </div>
                </div>
                <div class="mobile-content">
                    <p>Słowo zapisane jest jak partytura. Słowo wypowiedziane – 
                        wyszeptane, wykrzyczane, wyśpiewane… - to już muzyka. 
                        Dlatego Kawiarnia Literacka jest od lat integralną częścią
                         festiwalu. </p>
                    <p><b>Pobierz aplikację:</b></p>
                    <div class="mobile-images">
                        <a href="https://apps.apple.com/us/app/nextoff/id1473113310?l=pl&ls=1" target="_blank">
                            <img class="first-mobile-img" src="assets/images/svg/App_Store.svg">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.ffflable.nextoff" target="_blank"> 
                            <img src="assets/images/AppStoreLogom.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     
    <section id="Relacje" class="wrapper-video">
        <div class="video">
            <div class="video__title">
                <div class="video__title--left">Tak było!</div>
                <div class="video__title--right">Wideorelacje</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 video__list">
                    <div class="thumbnail video__list--foto">
                        <img src="assets/images/Foto.png" >
                        <div class="after">
                            <div>Zobacz</div>
                            <div>wideo</div>
                        </div>
                    </div>
                    <div class="video__list--exposition">Dlaczego historia kobiet?</div>
                    <div class="video__list--name">Prelekcja</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 video__list hidden">
                    <div class="thumbnail video__list--foto">
                        <img src="assets/images/Foto.png" >
                        <div class="after">
                            <div>Zobacz</div>
                            <div>wideo</div>
                        </div>
                    </div>
                    <div class="video__list--exposition">Dlaczego głośno?</div>
                    <div class="video__list--name">Prelekcja</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 video__list">
                    <div class="thumbnail video__list--foto">
                        <img src="assets/images/Foto.png" >
                        <div class="after">
                            <div>Zobacz</div>
                            <div>wideo</div>
                        </div>
                    </div>
                    <div class="video__list--exposition">Kawiarnia Literacka!</div>
                    <div class="video__list--name green">Relacja</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 video__list">
                    <div class="thumbnail video__list--foto">
                        <img src="assets/images/Foto.png" >
                        <div class="after">
                            <div>Zobacz</div>
                            <div>wideo</div>
                        </div>
                    </div>
                    <div class="video__list--exposition">Dlaczego historia kobiet?</div>
                    <div class="video__list--name">Prelekcja</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 video__list hidden">
                    <div class="thumbnail video__list--foto">
                        <img src="assets/images/Foto.png" >
                        <div class="after">
                            <div>Zobacz</div>
                            <div>wideo</div>
                        </div>
                    </div>
                    <div class="video__list--exposition">Dlaczego głośno?</div>
                    <div class="video__list--name">Prelekcja</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 video__list hidden">
                    <div class="thumbnail video__list--foto">
                        <img src="assets/images/Foto.png" >
                        <div class="after">
                            <div>Zobacz</div>
                            <div>wideo</div>
                        </div>
                    </div>
                    <div class="video__list--exposition">Kawiarnia Literacka!</div>
                    <div class="video__list--name green">Relacja</div>
                </div>
            </div>
        </div>
        <div id="Btn" class="show-foto">Pokaż wszystkie</div>
    </section>
    <section id="Galeria" class="wrapper-foto">
        <div class="foto">
            <div class="foto__title">
                <div class="foto__title--left">Galeria Kawiarni</div>
                <div class="foto__title--right">Uwieczniliśmy!</div>
            </div> 
                <div class="foto__container">
                <div class="foto__container--first">
                    <div class="thumbnail picture foto1"></div>
                    <div class="thumbnail picture foto2 hidden"></div>
                    <div class="thumbnail picture foto3"></div>
                    <div class="thumbnail picture foto4"></div>
                </div>
                <div class="foto__container--second">
                    <div class="thumbnail picture foto5"></div>
                    <div class="thumbnail picture foto6 hidden"></div>
                    <div class="thumbnail picture foto7"></div>
                    <div class="thumbnail picture foto8"></div>
                </div>
            </div>
            <div class="foto__name">Kawiarnia Literacka 2019</div>
        </div>
        <div id="FotoBtn" class="show-video">Pokaż wszystkie</div>
    </section>
    
</main><!-- end main -->

@@include('./templates/footer.html')